In [54]:
HIVE_KEYWORD = ['ALL', 'ALTER', 'AND', 'ARRAY', 'AS', 'AUTHORIZATION', 'BETWEEN', 
                'BIGINT', 'BINARY', 'BOOLEAN', 'BOTH', 'BY', 'CASE', 'CAST', 'CHAR',
                'COLUMN', 'CONF', 'CREATE', 'CROSS', 'CUBE', 'CURRENT', 'CURRENT_DATE',
                'CURRENT_TIMESTAMP', 'CURSOR', 'DATABASE', 'DATE', 'DECIMAL', 'DELETE',
                'DESCRIBE', 'DISTINCT', 'DOUBLE', 'DROP', 'ELSE', 'END', 'EXCHANGE', 'EXISTS',
                'EXTENDED', 'EXTERNAL', 'FALSE', 'FETCH', 'FLOAT', 'FOLLOWING', 'FOR', 'FROM',
                'FULL', 'FUNCTION', 'GRANT', 'GROUP', 'GROUPING', 'HAVING', 'IF', 'IMPORT', 'IN',
                'INNER', 'INSERT', 'INT', 'INTERSECT', 'INTERVAL', 'INTO', 'IS', 'JOIN', 'LATERAL',
                'LEFT', 'LESS', 'LIKE', 'LOCAL', 'MACRO', 'MAP', 'MORE', 'NONE', 'NOT', 'NULL', 'OF', 
                'ON', 'OR', 'ORDER', 'OUT', 'OUTER', 'OVER', 'PARTIALSCAN', 'PARTITION', 'PERCENT', 
                'PRECEDING', 'PRESERVE', 'PROCEDURE', 'RANGE', 'READS', 'REDUCE', 'REVOKE', 'RIGHT',
                'ROLLUP', 'ROW', 'ROWS', 'SELECT', 'SET', 'SMALLINT', 'TABLE', 'TABLESAMPLE', 'THEN', 'TIMESTAMP', 'TO', 
                'TRANSFORM', 'TRIGGER', 'TRUE', 'TRUNCATE', 'UNBOUNDED', 'UNION', 'UNIQUEJOIN', 'UPDATE', 'USER', 
                'USING', 'UTC_TMESTAMP', 'VALUES', 'VARCHAR', 'WHEN', 'WHERE', 'WINDOW', 'WITH']

HIVE_KEYWORD = ['ALL', 'ALTER', 'AND', 'ARRAY', 'AUTHORIZATION', 'BETWEEN', 
                'BIGINT', 'BINARY', 'BOOLEAN', 'BOTH', 'BY', 'CASE', 'CAST', 'CHAR',
                'COLUMN', 'CONF', 'CREATE', 'CROSS', 'CUBE', 'CURRENT', 'CURRENT_DATE',
                'CURRENT_TIMESTAMP', 'CURSOR', 'DATABASE', 'DATE', 'DECIMAL', 'DELETE',
                'DESCRIBE', 'DISTINCT', 'DOUBLE', 'DROP', 'ELSE', 'END', 'EXCHANGE', 'EXISTS',
                'EXTENDED', 'EXTERNAL', 'FALSE', 'FETCH', 'FLOAT', 'FOLLOWING', 'FOR', 'FROM',
                'FULL', 'FUNCTION', 'GRANT', 'GROUP', 'GROUPING', 'HAVING', 'IF', 'IMPORT', 'IN',
                'INNER', 'INSERT', 'INT', 'INTERSECT', 'INTERVAL', 'INTO', 'IS', 'JOIN', 'LATERAL',
                'LEFT', 'LESS', 'LIKE', 'LOCAL', 'MACRO', 'MAP', 'MORE', 'NONE', 'NOT', 'NULL', 'OF', 
                'ON', 'OR', 'ORDER', 'OUT', 'OUTER', 'OVER', 'PARTIALSCAN', 'PARTITION', 'PERCENT', 
                'PRECEDING', 'PRESERVE', 'PROCEDURE', 'RANGE', 'READS', 'REDUCE', 'REVOKE', 'RIGHT',
                'ROLLUP', 'ROW', 'ROWS', 'SELECT', 'SET', 'SMALLINT', 'TABLE', 'TABLESAMPLE', 'THEN', 'TIMESTAMP', 'TO', 
                'TRANSFORM', 'TRIGGER', 'TRUE', 'TRUNCATE', 'UNBOUNDED', 'UNION', 'UNIQUEJOIN', 'UPDATE', 'USER', 
                'USING', 'UTC_TMESTAMP', 'VALUES', 'VARCHAR', 'WHEN', 'WHERE', 'WINDOW', 'WITH']

In [2]:
import pandas as pd

input_files = []
df = pd.read_csv('code/8daysstats.csv', index_col='index')
print('# of jobs', df['jobid'].count(), '\nColumns:', df.columns)

# of jobs 98727
Columns: Index(['state', 'submitTime', 'startTime', 'finishTime', 'queueTime',
       'runTime', 'NumMaps', 'HDFS_INPUT_SIZE', 'HDFS_OUTPUT_SIZE',
       'MAP_CPU_USAGE_MSEC', 'REDUCE_CPU_USAGE_MSEC', 'MAP_MEM_USAGE_B',
       'REDUCE_MEM_USAGE_B', 'HIVE_RECORDS_IN', 'HIVE_RECORDS_OUT',
       'HIVE_RECORDS_INTERMEDIATE', 'SLOTS_MILLIS_MAPS',
       'SLOTS_MILLIS_REDUCES', 'TOTAL_LAUNCHED_MAPS', 'TOTAL_LAUNCHED_REDUCES',
       'DATA_LOCAL_MAPS', 'RACK_LOCAL_MAPS', 'MILLIS_MAPS', 'MILLIS_REDUCES',
       'VCORES_MILLIS_MAPS', 'VCORES_MILLIS_REDUCES', 'MB_MILLIS_MAPS',
       'MB_MILLIS_REDUCES', 'PHMAP_MEM_USAGE_B', 'PHREDUCE_MEM_USAGE_B',
       'PHPHYSICAL_MEMORY_B', 'jobid', 'query', 'outputdir', 'workflow',
       'scratchdir', 'sessionid', 'query.id', 'local.scratchdir', 'user.name',
       'job', 'inputdir'],
      dtype='object')

In [3]:
n_jobs = df['jobid'].count()
dfstate = df.groupby('state').size().reset_index(name='counts')
dfstate['failure%'] = 100*dfstate['counts']/n_jobs
print(dfstate)

df = df[df['state']=='SUCCEEDED']

       state  counts   failure%
0     FAILED      28   0.028361
1     KILLED     114   0.115470
2  SUCCEEDED   98585  99.856169

In [52]:
# select distinc queries
print('Number of queries:', len(df['query']))
print('Number of unique queries:', df['query'].nunique())
unique_q = df['query'].unique()

dfg = df.groupby('query').size().reset_index(name='counts')

Number of queries: 98585
Number of unique queries: 22871

In [55]:
unique_qv = []
for index, query in enumerate(unique_q):
    counts = dfg[dfg['query'] == query]['counts'].values[0]
    qls = list(filter(lambda e: e != '', query.upper().replace('\n', ' ').replace('\t', ' ').split(' ')))
    qls_v = ''
    for wr in qls:
        if wr in HIVE_KEYWORD:
            qls_v = qls_v + '_' + wr
    unique_qv.append({'qv' : qls_v[1:], 'count' : counts})

In [59]:
uqvdf = pd.DataFrame(data=unique_qv)

uqvg = uqvdf.groupby('qv')
for index, qvg in uqvg:
    print(index, qvg['count'].sum(), '\n')

CREATE_TABLE_IF_NOT_EXISTS_SELECT_CASE_WHEN_THEN_WHEN_THEN_ELSE_END_FROM_WHERE_AND_AND 14

CREATE_TABLE_IF_NOT_EXISTS_SELECT_DISTINCT_FROM_WHERE_AND_NOT_LIKE_AND_NOT_LIKE_AND 7

CREATE_TABLE_IF_NOT_EXISTS_SELECT_DISTINCT_FROM_WHERE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND 7

CREATE_TABLE_IF_NOT_EXISTS_SELECT_FROM 40

CREATE_TABLE_IF_NOT_EXISTS_SELECT_FROM_FROM_WHERE_AND 35

CREATE_TABLE_IF_NOT_EXISTS_SELECT_FROM_WHERE 6

CREATE_TABLE_IF_NOT_EXISTS_SELECT_FROM_WHERE_AND 28

CREATE_TABLE_IF_NOT_EXISTS_SELECT_FROM_WHERE_AND_AND 180

CREATE_TABLE_IF_NOT_EXISTS_SELECT_FROM_WHERE_AND_AND_AND 13

CREATE_TABLE_IF_NOT_EXISTS_SELECT_FROM_WHERE_AND_AND_AND_IN 2

CREATE_TABLE_IF_NOT_EXISTS_SELECT_FROM_WHERE_GROUP_BY 14

CREATE_TABLE_IF_NOT_EXISTS_SELECT_FROM_WHERE_IN_AND_AND_AND_AND 7

CREATE_TABLE_PARTITION_SELECT_FROM_JOIN_ON_WHERE_AND_AND_AND_AND_LIKE 2

CREATE_TABLE_ROW_BY_SELECT_FROM 6

CREATE_TABLE_ROW_BY_SELECT_FROM_UNION_ALL_SELECT_FROM 8

CREATE_TABLE_ROW_BY_SELECT_FROM_WHERE_AND 16

CREATE_TABLE_ROW_BY_SELECT_FROM_WHERE_LIKE 18

CREATE_TABLE_ROW_BY_SELECT_FROM_WHERE_LIKE_OR_LIKE 6

CREATE_TABLE_ROW_BY_SELECT_FROM_WHERE_LIKE_OR_LIKE_UNION_ALL_SELECT_FROM 2

CREATE_TABLE_ROW_BY_SELECT_INT_FROM_WHERE_AND 2

CREATE_TABLE_ROW_BY_SELECT_WHEN_THEN_WHEN_THEN_WHEN_THEN_WHEN_THEN_WHEN_THEN_WHEN_THEN_WHEN_THEN_WHEN_THEN_WHEN_THEN_WHEN_THEN_WHEN_THEN_WHEN_THEN_END_DATE_FROM 1

CREATE_TABLE_SELECT_BY_ORDER_BY_FROM 1

CREATE_TABLE_SELECT_CASE_WHEN_IS_NULL_THEN_ELSE_END_CASE_WHEN_IS_NULL_THEN_ELSE_END_CASE_WHEN_IS_NULL_THEN_ELSE_END_DATE_FROM_LEFT_JOIN_ON_AND_GROUP_BY 18

CREATE_TABLE_SELECT_CASE_WHEN_IS_NULL_THEN_ELSE_END_FROM_FROM_FROM_FROM_GROUP_BY_LEFT_JOIN_FROM_FROM_FROM_GROUP_BY_ON_AND 27

CREATE_TABLE_SELECT_CASE_WHEN_IS_NULL_THEN_ELSE_END_FROM_WHERE_AND_LIKE_OR_LIKE_OR_LIKE_AND_AND_AND_AND 1

CREATE_TABLE_SELECT_CASE_WHEN_IS_NULL_THEN_END_CASE_WHEN_IS_NULL_THEN_END_FROM 1

CREATE_TABLE_SELECT_CASE_WHEN_IS_THEN_ELSE_END_FROM_LEFT_OUTER_JOIN_WHERE_AND 1

CREATE_TABLE_SELECT_CASE_WHEN_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_THEN_ELSE_END_CASE_WHEN_IN_THEN_WHEN_IN_THEN_WHEN_IN_THEN_WHEN_IN_THEN_WHEN_IN_THEN_END_FROM_FROM_FROM_WHERE_AND_AND_AND_AND_LIKE_AND_NOT_LIKE_GROUP_BY_WHERE_AND_AND_LEFT_JOIN_FROM_SELECT_FROM_WHERE_GROUP_BY_WHERE_AND_AND_ON_AND_LEFT_JOIN_ON 49

CREATE_TABLE_SELECT_CASE_WHEN_OR_LIKE_OR_LIKE_OR_LIKE_THEN_ELSE_END_FROM_LEFT_JOIN_ON_LEFT_JOIN_ON 7

CREATE_TABLE_SELECT_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_OR_THEN_ELSE_END_FROM_JOIN_ON 1

CREATE_TABLE_SELECT_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_OR_THEN_ELSE_END_FROM_SELECT_FROM_GROUP_BY_WHERE 14

CREATE_TABLE_SELECT_CASE_WHEN_THEN_ELSE_END_DATE_FROM_JOIN_ON_AND_AND_AND_AND_AND_AND_AND_AND_JOIN_ON_AND_AND_LEFT_JOIN_ON_AND_AND_JOIN_ON_WHERE_AND_AND_AND_LIKE_AND_OR_GROUP_BY 45

CREATE_TABLE_SELECT_CURRENT_DATE_FROM_LEFT_JOIN_ON_WHERE_AND_LIKE_AND_NOT_LIKE_BY 16

CREATE_TABLE_SELECT_DISTINCT_CASE_WHEN_LIKE_OR_LIKE_OR_LIKE_THEN_WHEN_LIKE_OR_LIKE_THEN_WHEN_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_THEN_WHEN_NOT_LIKE_AND_NOT_LIKE_AND_LIKE_OR_LIKE_THEN_WHEN_IS_NULL_AND_LIKE_OR_LIKE_THEN_WHEN_LIKE_THEN_WHEN_LIKE_OR_LIKE_THEN_WHEN_IN_THEN_WHEN_IS_NULL_THEN_ELSE_END_CASE_WHEN_LIKE_OR_LIKE_THEN_ELSE_END_FROM_LEFT_JOIN_WHERE_AND_AND 1

CREATE_TABLE_SELECT_DISTINCT_CASE_WHEN_THEN_ELSE_END_FROM_JOIN_ON_AND_AND_JOIN_ON_LEFT_JOIN_ON_AND_JOIN_ON_WHERE_OR_AND_AND_AND_AND_AND_LIKE 45

CREATE_TABLE_SELECT_DISTINCT_DATE_FROM_JOIN_ON_JOIN_ON_WHERE 9

CREATE_TABLE_SELECT_DISTINCT_FROM_JOIN_ON_AND_AND_AND_AND_AND_LIKE_JOIN_ON_AND_AND_AND_AND_JOIN_ON_AND_JOIN_ON_WHERE_AND_OR_ORDER_BY 48

CREATE_TABLE_SELECT_DISTINCT_FROM_JOIN_ON_LEFT_JOIN_ON_WHERE_OR_AND_AND_AND_AND 3

CREATE_TABLE_SELECT_DISTINCT_FROM_JOIN_ON_WHERE_AND 32

CREATE_TABLE_SELECT_DISTINCT_FROM_LEFT_OUTER_JOIN_ON_AND 2

CREATE_TABLE_SELECT_DISTINCT_FROM_WHERE 7

CREATE_TABLE_SELECT_DISTINCT_FROM_WHERE_AND 1

CREATE_TABLE_SELECT_DISTINCT_FROM_WHERE_AND_AND 1

CREATE_TABLE_SELECT_DISTINCT_FROM_WHERE_AND_AND_AND_AND 14

CREATE_TABLE_SELECT_DISTINCT_FROM_WHERE_AND_AND_AND_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND 21

CREATE_TABLE_SELECT_DISTINCT_FROM_WHERE_AND_AND_AND_LIKE_AND_AND_AND_AND_AND 18

CREATE_TABLE_SELECT_DISTINCT_FROM_WHERE_OR_CURRENT_AND 1

CREATE_TABLE_SELECT_DISTINCT_FROM_WHERE_UNION_ALL_SELECT_DISTINCT_FROM_WHERE 8

CREATE_TABLE_SELECT_DISTINCT_WHEN_THEN_ELSE_WHEN_THEN_ELSE_FROM_WHERE 1

CREATE_TABLE_SELECT_FROM 69

CREATE_TABLE_SELECT_FROM_DISTINCT_FROM_JOIN_ON_AND_GROUP_BY 27

CREATE_TABLE_SELECT_FROM_FROM_GROUP_BY_WHERE 18

CREATE_TABLE_SELECT_FROM_GROUP_BY 14

CREATE_TABLE_SELECT_FROM_INNER_JOIN_SELECT_DISTINCT_FROM_WHERE_NOT_LIKE_AND_NOT_LIKE_ON_WHERE_IN_DISTINCT_FROM_WHERE_AND_GROUP_BY 5

CREATE_TABLE_SELECT_FROM_JOIN_DISTINCT_FROM_ON_JOIN_DISTINCT_FROM_ON_JOIN_SELECT_CASE_WHEN_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_THEN_ELSE_END_CASE_WHEN_IS_THEN_ELSE_END_CASE_WHEN_IS_THEN_ELSE_END_CASE_WHEN_IS_THEN_ELSE_END_FROM_DISTINCT_FROM_JOIN_ON_ON 35

CREATE_TABLE_SELECT_FROM_JOIN_ON 4

CREATE_TABLE_SELECT_FROM_JOIN_ON_AND 3

CREATE_TABLE_SELECT_FROM_JOIN_ON_AND_AND_AND_LIKE_AND_AND_JOIN_ON_AND_AND_AND_JOIN_ON_WHERE_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_LIKE 9

CREATE_TABLE_SELECT_FROM_JOIN_ON_AND_AND_AND_WHERE_AND_AND_AND_IS_NOT_NULL_AND_AND_AND_IS_NOT_NULL_AND_AND 17

CREATE_TABLE_SELECT_FROM_JOIN_ON_AND_GROUP_BY 18

CREATE_TABLE_SELECT_FROM_JOIN_ON_AND_JOIN_ON_AND_WHERE_AND_AND_AND_AND_AND_GROUP_BY 21

CREATE_TABLE_SELECT_FROM_JOIN_ON_AND_LIKE_JOIN_ON_AND_JOIN_ON_WHERE_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_LIKE 9

CREATE_TABLE_SELECT_FROM_JOIN_ON_AND_WHERE_AND_AND 26

CREATE_TABLE_SELECT_FROM_JOIN_ON_AND_WHERE_AND_AND_IN 14

CREATE_TABLE_SELECT_FROM_JOIN_ON_GROUP_BY 1

CREATE_TABLE_SELECT_FROM_JOIN_ON_JOIN_ON_AND_JOIN_ON_WHERE_AND_AND_AND_AND_LIKE_GROUP_BY 4

CREATE_TABLE_SELECT_FROM_JOIN_ON_JOIN_ON_AND_LEFT_JOIN_ON_WHERE_AND_AND_AND_AND_AND_AND_AND_LIKE_GROUP_BY 20

CREATE_TABLE_SELECT_FROM_JOIN_ON_JOIN_ON_AND_LEFT_JOIN_ON_WHERE_AND_AND_AND_AND_AND_AND_LIKE_GROUP_BY 4

CREATE_TABLE_SELECT_FROM_JOIN_ON_JOIN_ON_WHERE_AND_AND_AND 10

CREATE_TABLE_SELECT_FROM_JOIN_ON_JOIN_ON_WHERE_AND_AND_AND_AND_LIKE_OR_LIKE_AND_AND_NOT_LIKE_OR_NOT_LIKE_OR_NOT_LIKE_OR_NOT_LIKE_OR_NOT_LIKE 2

CREATE_TABLE_SELECT_FROM_JOIN_ON_JOIN_ON_WHERE_AND_AND_AND_LIKE_AND_NOT_LIKE_GROUP_BY 9

CREATE_TABLE_SELECT_FROM_JOIN_ON_ON_WHERE_WHERE_AND_AND_GROUP_BY 4

CREATE_TABLE_SELECT_FROM_JOIN_ON_WHERE_AND 4

CREATE_TABLE_SELECT_FROM_JOIN_ON_WHERE_AND_AND_AND_AND_AND_AND_LIKE 27

CREATE_TABLE_SELECT_FROM_JOIN_ON_WHERE_AND_AND_AND_AND_IN 9

CREATE_TABLE_SELECT_FROM_JOIN_ON_WHERE_AND_AND_AND_AND_LIKE 19

CREATE_TABLE_SELECT_FROM_JOIN_ON_WHERE_AND_AND_AND_AND_LIKE_AND_AND 2

CREATE_TABLE_SELECT_FROM_JOIN_ON_WHERE_AND_AND_OR_AND_AND_AND_NOT_LIKE_AND_AND 9

CREATE_TABLE_SELECT_FROM_JOIN_ON_WHERE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_UNION_ALL_SELECT_FROM_JOIN_ON_WHERE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_UNION_ALL_SELECT_FROM_JOIN_ON_WHERE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_UNION_ALL_SELECT_FROM_JOIN_ON_WHERE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_UNION_ALL_SELECT_FROM_JOIN_ON_WHERE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE 21

CREATE_TABLE_SELECT_FROM_LATERAL 8

CREATE_TABLE_SELECT_FROM_LEFT_JOIN_ON 9

CREATE_TABLE_SELECT_FROM_LEFT_JOIN_ON_JOIN_ON_WHERE_AND_AND_AND_AND_LIKE 6

CREATE_TABLE_SELECT_FROM_LEFT_JOIN_ON_LEFT_OUTER_JOIN_ON_WHERE_AND_AND_AND_AND_AND_AND_AND_AND_NOT_AND_NOT_LIKE_AND_AND_LIKE_AND_NOT_LIKE 4

CREATE_TABLE_SELECT_FROM_LEFT_OUTER_JOIN_DISTINCT_FROM_ON 3

CREATE_TABLE_SELECT_FROM_LEFT_OUTER_JOIN_ON 1

CREATE_TABLE_SELECT_FROM_LEFT_OUTER_JOIN_ON_WHERE_AND_AND_IN_GROUP_BY 2

CREATE_TABLE_SELECT_FROM_SELECT_DISTINCT_FROM_WHERE_AND_AND_WHERE_AND_UNION_ALL_SELECT_FROM_WHERE_NOT_IN_DISTINCT_FROM_WHERE_AND_AND 8

CREATE_TABLE_SELECT_FROM_SELECT_FROM_FROM_JOIN_ON_WHERE_AND_JOIN_ON_AND_WHERE_AND_AND_GROUP_BY_GROUP_BY_ORDER_BY 5

CREATE_TABLE_SELECT_FROM_SELECT_FROM_GROUP_BY 18

CREATE_TABLE_SELECT_FROM_SELECT_FROM_GROUP_BY_WHERE 28

CREATE_TABLE_SELECT_FROM_SELECT_FROM_SELECT_FROM_LEFT_JOIN_ON_AND_AND_IN_AND_WHERE_AND_NOT_IN_AND_AND_IS_NOT_NULL_AND_AND_AND_IS_NOT_NULL_AND_AND_GROUP_BY_GROUP_BY 27

CREATE_TABLE_SELECT_FROM_SELECT_FROM_SELECT_FROM_WHERE_GROUP_BY_LEFT_JOIN_SELECT_FROM_SELECT_FROM_WHERE_IN_SELECT_DISTINCT_FROM_SELECT_FROM_WHERE_GROUP_BY_ON_AND 45

CREATE_TABLE_SELECT_FROM_SELECT_FROM_WHERE_AND_AND_AND_OR_IS_NOT_NULL_OR_OR_IS_NOT_NULL_OR_OR_IS_NOT_NULL_OR_OR_IS_NOT_NULL_OR_OR_IS_NOT_GROUP_BY_WHERE_AND_AND_GROUP_BY 21

CREATE_TABLE_SELECT_FROM_SELECT_FROM_WHERE_AND_AND_LIKE_JOIN_SELECT_FROM_JOIN_ON_WHERE_AND_ON 4

CREATE_TABLE_SELECT_FROM_SELECT_FROM_WHERE_AND_GROUP_BY_WHERE 14

CREATE_TABLE_SELECT_FROM_SELECT_FROM_WHERE_GROUP_BY_WHERE_AND 2

CREATE_TABLE_SELECT_FROM_SELECT_SELECT_DISTINCT_FROM_WHERE_IN_AND_AND_LIKE_AND_NOT_LIKE_LEFT_JOIN_ON_UNION_ALL_SELECT_SELECT_DISTINCT_FROM_WHERE_AND_LIKE_AND_NOT_LIKE_LEFT_JOIN_ON_UNION_ALL_SELECT_SELECT_FROM_WHERE_IN_AND_LIKE_AND_NOT_LIKE_LEFT_JOIN_ON_UNION_ALL_SELECT_SELECT_WHEN_THEN_ELSE_FROM_SELECT_WHEN_THEN_WHEN_THEN_WHEN_THEN_ELSE_END_WHEN_THEN_WHEN_OR_THEN_WHEN_OR_THEN_ELSE_FROM_WHERE_IN_AND_LIKE_AND_NOT_LIKE_GROUP_BY_WHEN_THEN_WHEN_THEN_WHEN_THEN_ELSE_END_WHEN_THEN_WHEN_OR_THEN_WHEN_OR_THEN_ELSE_LEFT_JOIN_ON_UNION_ALL_SELECT_SELECT_DISTINCT_FROM_OF_FROM_WHERE_LIKE_AND_NOT_LIKE_JOIN_FROM_GROUP_BY_ON_LEFT_JOIN_ON_ORDER_BY 96

CREATE_TABLE_SELECT_FROM_USING_FROM 4

CREATE_TABLE_SELECT_FROM_WHERE 13

CREATE_TABLE_SELECT_FROM_WHERE_AND 89

CREATE_TABLE_SELECT_FROM_WHERE_AND_AND 2

CREATE_TABLE_SELECT_FROM_WHERE_AND_AND_AND 7

CREATE_TABLE_SELECT_FROM_WHERE_AND_AND_AND_AND_AND 7

CREATE_TABLE_SELECT_FROM_WHERE_AND_AND_AND_AND_AND_AND 14

CREATE_TABLE_SELECT_FROM_WHERE_AND_AND_AND_IN 5

CREATE_TABLE_SELECT_FROM_WHERE_AND_AND_GROUP_BY 9

CREATE_TABLE_SELECT_FROM_WHERE_AND_AND_LIKE 4

CREATE_TABLE_SELECT_FROM_WHERE_AND_AND_NOT_LIKE_AND_AND_AND_AND_AND_LIKE 4

CREATE_TABLE_SELECT_FROM_WHERE_AND_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_AND_IN_AND 28

CREATE_TABLE_SELECT_FROM_WHERE_AND_AND_OR_AND_IN 2

CREATE_TABLE_SELECT_FROM_WHERE_AND_GROUP_BY 16

CREATE_TABLE_SELECT_FROM_WHERE_AND_IN 18

CREATE_TABLE_SELECT_FROM_WHERE_AND_IN_GROUP_BY 9

CREATE_TABLE_SELECT_FROM_WHERE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_LIKE_AND_NOT_GROUP_BY 7

CREATE_TABLE_SELECT_FROM_WHERE_GROUP_BY 2

CREATE_TABLE_SELECT_FROM_WHERE_GROUP_BY_ORDER_BY 2

CREATE_TABLE_SELECT_FROM_WHERE_IN_AND_GROUP_BY 7

CREATE_TABLE_SELECT_FROM_WHERE_IS_NOT_NULL 1

CREATE_TABLE_SELECT_FROM_WHERE_IS_NOT_NULL_GROUP_BY 1

CREATE_TABLE_SELECT_FROM_WHERE_LIKE 30

CREATE_TABLE_SELECT_FROM_WHERE_LIKE_AND_LIKE 2

CREATE_TABLE_SELECT_FROM_WHERE_NOT_EXISTS_FROM_WHERE_AND 6

CREATE_TABLE_SELECT_FROM_WHERE_OR_CURRENT_AND 1

CREATE_TABLE_SELECT_OVER_BY_ORDER_BY_FROM 34

CREATE_TABLE_SELECT_OVER_BY_OVER_BY_BY_ORDER_BY_FROM_WHERE_GROUP_BY 3

CREATE_TABLE_SELECT_SELECT_FROM_GROUP_BY_GROUP_BY 9

CREATE_TABLE_SELECT_SELECT_FROM_JOIN_ON_WHERE_AND_AND_AND_AND_AND_LIKE_AND_GROUP_BY 22

CREATE_TABLE_SELECT_SELECT_FROM_WHERE_AND_IN_GROUP_BY_GROUP_BY 9

CREATE_TABLE_SELECT_WHEN_IN_THEN_WHEN_IN_THEN_WHEN_IN_THEN_WHEN_IN_THEN_WHEN_IN_THEN_END_FROM_FROM_GROUP_BY_WHERE 2

CREATE_TABLE_SELECT_WHEN_IS_NOT_NULL_ELSE_FROM_LEFT_OUTER_JOIN_ON_AND 1

CREATE_TABLE_SELECT_WHEN_THEN_ELSE_END_FROM 14

CREATE_TABLE_SELECT_WHEN_THEN_ELSE_END_WHEN_THEN_ELSE_END_FROM 7

CREATE_TABLE_SELECT_WHEN_THEN_ELSE_FROM 18

CREATE_TABLE_SELECT_WHEN_THEN_ELSE_FROM_WHERE 7

CREATE_TABLE_SELECT_WHEN_THEN_ELSE_FROM_WHERE_IS_NULL 1

CREATE_TABLE_SELECT_WHEN_THEN_ELSE_FROM_WHERE_LIKE_AND 3

CREATE_TABLE_SELECT_WHEN_THEN_ELSE_FROM_WHERE_LIKE_AND_IS_NULL 1

CREATE_TABLE_SELECT_WHEN_THEN_ELSE_FROM_WHERE_LIKE_AND_LIKE 4

CREATE_TABLE_SELECT_WHEN_THEN_ELSE_FROM_WHERE_LIKE_OR_LIKE_AND_LIKE 4

CREATE_TABLE_SELECT_WHEN_THEN_ELSE_FROM_WHERE_NOT_LIKE 15

CREATE_TABLE_SELECT_WHEN_THEN_WHEN_THEN_WHEN_THEN_WHEN_THEN_WHEN_THEN_WHEN_THEN_WHEN_THEN_WHEN_THEN_WHEN_THEN_WHEN_THEN_WHEN_THEN_WHEN_THEN_END_DATE_FROM 2

FROM_CREATE_TABLE_SELECT_FROM_INNER_JOIN_DISTINCT_FROM_WHERE_NOT_LIKE_AND_NOT_LIKE_ON_WHERE_IN_DISTINCT_FROM_JOIN_ON_WHERE_AND_GROUP_BY 5

FROM_INNER_JOIN_ON_AND_AND_WHERE_LIKE_AND_IN 14

FROM_INNER_JOIN_ON_AND_WHERE_LIKE_AND_IN 11

FROM_LEFT_OUTER_JOIN_ON_AND_AND_AND_WHERE_LIKE_AND_IN 3

FROM_LEFT_OUTER_JOIN_ON_AND_AND_WHERE_LIKE_AND_IN 1

FROM_LEFT_OUTER_JOIN_ON_AND_AND_WHERE_LIKE_AND_LIKE_AND_IN 3

FROM_LEFT_OUTER_JOIN_ON_AND_WHERE 1

FROM_LEFT_OUTER_JOIN_ON_AND_WHERE_LIKE_AND_IN 3

FROM_WHERE_GROUP_BY 1

FROM_WHERE_LIKE_AND 1

FROM_WHERE_LIKE_AND_IN 5

FROM_WHERE_LIKE_AND_LIKE 1

FROM_WHERE_LIKE_AND_LIKE_AND_LIKE 1

INSERT_INTO_SELECT_DISTINCT_FROM 1

INSERT_INTO_SELECT_DISTINCT_FROM_FROM_FULL_OUTER_JOIN_SELECT_FROM_WHERE_ON_AND_FULL_OUTER_JOIN_SELECT_FROM_WHERE_ON_AND_FULL_OUTER_JOIN_SELECT_FROM_WHERE_ON_AND 14

INSERT_INTO_SELECT_DISTINCT_FROM_JOIN_ON_AND_AND_WHERE_NOT_LIKE_AND_NOT_LIKE 2

INSERT_INTO_SELECT_DISTINCT_FROM_JOIN_ON_JOIN_ON_WHERE_AND_AND_AND_AND_AND_AND_LIKE 2

INSERT_INTO_SELECT_DISTINCT_FROM_JOIN_ON_JOIN_ON_WHERE_AND_AND_AND_AND_AND_AND_LIKE_OR_LIKE_OR_LIKE_OR_LIKE_OR_LIKE 2

INSERT_INTO_SELECT_DISTINCT_FROM_JOIN_ON_JOIN_ON_WHERE_BETWEEN_AND_AND_AND_AND_AND_AND_LIKE 2

INSERT_INTO_SELECT_DISTINCT_FROM_JOIN_ON_WHERE_AND_OR_OR_AND 2

INSERT_INTO_SELECT_DISTINCT_FROM_SELECT_DISTINCT_FROM_WHERE_IN_SELECT_FROM_WHERE_AND_GROUP_BY_AND_AND_AND_AND_UNION_ALL_SELECT_DISTINCT_FROM_WHERE_AND_ORDER_BY 7

INSERT_INTO_SELECT_DISTINCT_FROM_SELECT_FROM_WHERE_AND_AND_AND_AND_UNION_ALL_SELECT_FROM_WHERE_NOT_IN_SELECT_FROM_WHERE_AND_AND_AND_AND_AND 5

INSERT_INTO_SELECT_DISTINCT_FROM_WHERE_AND_AND_IN_FROM_WHERE_AND_GROUP_BY_AND_AND_AND 4

INSERT_INTO_SELECT_DISTINCT_FROM_WHERE_AND_AND_LIKE_AND_IN_SELECT_FROM_WHERE_AND_GROUP_BY_AND_AND_AND 4

INSERT_INTO_SELECT_FROM 32

INSERT_INTO_SELECT_FROM_DISTINCT_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_FROM_JOIN_ON_WHERE_AND_AND_NOT_LIKE_AND_NOT_LIKE_GROUP_BY_ORDER_BY 28

INSERT_INTO_SELECT_FROM_JOIN_FROM_WHERE_LIKE_AND 14

INSERT_INTO_SELECT_FROM_JOIN_ON 1

INSERT_INTO_SELECT_FROM_JOIN_ON_JOIN_ON_WHERE_LIKE_AND_AND 2

INSERT_INTO_SELECT_FROM_SELECT_DISTINCT_FROM_FROM_FROM_WHERE_GROUP_BY_WHERE_AND_AND_AND_AND_AND_AND_UNION_ALL_SELECT_DISTINCT_FROM_FROM_WHERE_AND_NOT_IN_FROM_WHERE 9

INSERT_INTO_SELECT_FROM_SELECT_FROM_FROM_WHERE_AND_IN_SELECT_FROM_WHERE_GROUP_BY_LEFT_JOIN_DISTINCT_FROM_WHERE_AND_ON_AND_AND 4

INSERT_INTO_SELECT_FROM_UNION_ALL_SELECT_FROM 12

INSERT_INTO_SELECT_FROM_WHERE 27

INSERT_INTO_SELECT_FROM_WHERE_AND 18018

INSERT_INTO_SELECT_FROM_WHERE_LIKE_AND_LIKE 2

INSERT_INTO_SELECT_FROM_WHERE_NOT_IN_DISTINCT_FROM 75

INSERT_INTO_TABLE_PARTITION_SELECT_FROM 14

INSERT_INTO_TABLE_PARTITION_SELECT_FROM_WHERE_AND_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_AND_AND_NOT_AND_NOT 1

INSERT_INTO_TABLE_SELECT_CASE_WHEN_THEN_ELSE_END_FROM 12

INSERT_INTO_TABLE_SELECT_CURRENT_DATE_FROM 9

INSERT_INTO_TABLE_SELECT_DISTINCT_FROM_LEFT_JOIN_ON_AND_BETWEEN_AND_WHERE_BETWEEN_AND_AND 6

INSERT_INTO_TABLE_SELECT_DISTINCT_FROM_LEFT_JOIN_ON_AND_BETWEEN_AND_WHERE_BETWEEN_AND_AND_LIKE 2

INSERT_INTO_TABLE_SELECT_DISTINCT_FROM_LEFT_OUTER_JOIN_ON_AND_BETWEEN_AND_WHERE_BETWEEN_AND_AND_LIKE_OR_LIKE_AND_LIKE_OR_LIKE_OR_LIKE_OR_LIKE_AND_OR_LIKE_AND_OR_LIKE_AND_NOT_LIKE_AND_NOT_LIKE 2

INSERT_INTO_TABLE_SELECT_DISTINCT_FROM_WHERE 2

INSERT_INTO_TABLE_SELECT_FROM 1

INSERT_INTO_TABLE_SELECT_FROM_FROM_LEFT_OUTER_JOIN_ON_WHERE_IS_NULL 7

INSERT_INTO_TABLE_SELECT_FROM_FROM_WHERE_AND_LIKE_OR_LIKE_JOIN_ON_AND_AND_AND_WHERE_GROUP_BY 14

INSERT_INTO_TABLE_SELECT_FROM_INNER_JOIN_SELECT_DISTINCT_FROM_WHERE_NOT_LIKE_AND_NOT_LIKE_ON_WHERE_IN_DISTINCT_FROM_WHERE_AND_GROUP_BY 5

INSERT_INTO_TABLE_SELECT_FROM_JOIN_ON_LEFT_JOIN_ON_WHERE_LIKE_AND_AND_AND_NOT_LIKE 2

INSERT_INTO_TABLE_SELECT_FROM_LEFT_OUTER_JOIN_ON_AND_BETWEEN_AND_WHERE_BETWEEN_AND_AND_LIKE 5

INSERT_INTO_TABLE_SELECT_FROM_LEFT_OUTER_JOIN_ON_AND_BETWEEN_AND_WHERE_BETWEEN_AND_AND_LIKE_AND_IN_OR_IN 1

INSERT_INTO_TABLE_SELECT_FROM_LEFT_OUTER_JOIN_ON_AND_BETWEEN_AND_WHERE_BETWEEN_AND_AND_LIKE_AND_LIKE 1

INSERT_INTO_TABLE_SELECT_FROM_LEFT_OUTER_JOIN_ON_AND_BETWEEN_AND_WHERE_BETWEEN_AND_AND_LIKE_AND_LIKE_AND_IN_OR_IN 1

INSERT_INTO_TABLE_SELECT_FROM_LEFT_OUTER_JOIN_ON_AND_BETWEEN_AND_WHERE_BETWEEN_AND_AND_LIKE_AND_LIKE_OR_LIKE_OR_LIKE_OR_LIKE_OR_LIKE_OR_LIKE 1

INSERT_INTO_TABLE_SELECT_FROM_LEFT_OUTER_JOIN_ON_AND_BETWEEN_AND_WHERE_BETWEEN_AND_AND_LIKE_OR_LIKE 3

INSERT_INTO_TABLE_SELECT_FROM_LEFT_OUTER_JOIN_ON_AND_BETWEEN_AND_WHERE_BETWEEN_AND_AND_LIKE_OR_LIKE_AND_LIKE_OR_LIKE_OR_LIKE 1

INSERT_INTO_TABLE_SELECT_FROM_LEFT_OUTER_JOIN_ON_AND_BETWEEN_AND_WHERE_BETWEEN_AND_AND_LIKE_OR_LIKE_OR_LIKE 1

INSERT_INTO_TABLE_SELECT_FROM_SELECT_DISTINCT_FROM_FROM_FROM_WHERE_GROUP_BY_WHERE_AND_AND_AND_AND_AND_AND_UNION_ALL_SELECT_DISTINCT_FROM_FROM_WHERE_AND_NOT_IN_FROM_WHERE 9

INSERT_INTO_TABLE_SELECT_FROM_SELECT_OVER_BY_ORDER_BY_FROM_JOIN_ON_WHERE_AND_AND_AND_AND_AND_LIKE_OR_LIKE_WHERE 14

INSERT_INTO_TABLE_SELECT_FROM_WHERE_AND 7

INSERT_INTO_TABLE_SELECT_FROM_WHERE_AND_AND_IN 14

INSERT_INTO_TABLE_SELECT_FROM_WHERE_AND_NOT_LIKE_AND_LIKE 1

INSERT_INTO_TABLE_SELECT_FROM_WHERE_BETWEEN_AND_AND 2

INSERT_INTO_VALUES 7

INSERT_LOCAL_ROW_BY_SELECT_FROM 44

INSERT_LOCAL_SELECT_DATE_DATE_FROM 9

INSERT_LOCAL_SELECT_DATE_FROM 9

INSERT_LOCAL_SELECT_DATE_FROM_JOIN_ON_JOIN_ON 9

INSERT_LOCAL_SELECT_DATE_FROM_SELECT_CASE_WHEN_THEN_ELSE_END_DATE_FROM_JOIN_ON_AND_AND_AND_AND_AND_AND_AND_AND_JOIN_ON_AND_AND_LEFT_JOIN_ON_AND_AND_JOIN_ON_WHERE_AND_AND_AND_LIKE_AND_OR_GROUP_BY_GROUP_BY_DATE 54

INSERT_LOCAL_SELECT_DATE_FROM_WHERE_IS_NOT_NULL_AND_DATE_IS_NOT_NULL_AND 9

INSERT_LOCAL_SELECT_DISTINCT_CASE_WHEN_THEN_ELSE_END_DATE_FROM_JOIN_ON_JOIN_ON_JOIN_ON_AND_AND_LEFT_JOIN_ON_AND_AND_WHERE_AND_AND_AND_AND_AND_AND 45

INSERT_LOCAL_SELECT_DISTINCT_CASE_WHEN_THEN_ELSE_END_FROM_LEFT_JOIN_ON_AND_JOIN_ON_AND_AND_WHERE_AND 33

INSERT_LOCAL_SELECT_DISTINCT_CAST_FROM_JOIN_ON_JOIN_ON_AND_LEFT_JOIN_ON_AND_LEFT_JOIN_ON_WHERE_AND_AND_AND_AND_AND_AND_AND_AND_AND_AND_LIKE_ORDER_BY_TIMESTAMP 42

INSERT_LOCAL_SELECT_DISTINCT_DATE_FROM_JOIN_ON_JOIN_ON_JOIN_ON_LEFT_JOIN_ON_AND_LEFT_JOIN_ON 18

INSERT_LOCAL_SELECT_DISTINCT_FROM_WHERE 14

INSERT_LOCAL_SELECT_FROM_DISTINCT_FROM_JOIN_ON_AND_AND_AND_LIKE_JOIN_ON_AND_JOIN_ON_AND_AND_WHERE_AND_AND_AND_AND_OR_GROUP_BY 32

INSERT_LOCAL_SELECT_FROM_JOIN_ON_AND_LEFT_JOIN_ON_AND_LEFT_JOIN_ON_AND_GROUP_BY 56

INSERT_LOCAL_SELECT_FROM_WHERE 357

INSERT_ROW_BY_SELECT_FROM 3

INSERT_ROW_BY_SELECT_FROM_JOIN_FROM_GROUP_BY_ON_AND 12

INSERT_ROW_BY_SELECT_FROM_WHERE_AND 2

INSERT_SELECT_FROM_LEFT_OUTER_JOIN_ON_AND_WHERE 4

INSERT_SELECT_FROM_LEFT_OUTER_JOIN_ON_WHERE 16

INSERT_SELECT_FROM_LEFT_OUTER_JOIN_ON_WHERE_AND_AND 6

INSERT_SELECT_FROM_WHERE_AND_AND_BETWEEN_AND 14

INSERT_SELECT_FROM_WHERE_BETWEEN_AND_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_ORDER_BY 21

INSERT_TABLE_PARTITION_SELECT_BY_ORDER_BY_BY_ORDER_BY_BY_ORDER_BY_BY_ORDER_BY_BY_ORDER_BY_BY_ORDER_BY_FROM_INNER_JOIN_ON_INNER_JOIN_ON_WHERE_AND_AND_AND_OR_OR_AND_OR_OR_AND_OR_OR_ORDER_BY 15

INSERT_TABLE_PARTITION_SELECT_DISTINCT_IF_IF_IN_IF_IN_IF_IN_FROM_INNER_JOIN_ON_LIKE_OR_LIKE_AND_LIKE_OR_LIKE_OR_LIKE_WHERE_LIKE_AND_LIKE_AND_NOT_IN_AND_IN_AND_NOT_IN_ORDER_BY 6

INSERT_TABLE_PARTITION_SELECT_FROM_SELECT_IS_NOT_IS_NOT_IS_NOT_IS_NOT_IS_NOT_IS_NOT_FROM_ON_SELECT_DISTINCT_FROM_WHERE_LIKE_WHERE_LIKE_GROUP_BY_INNER_JOIN_DISTINCT_FROM_WHERE_LIKE_ON_INNER_JOIN_SELECT_DISTINCT_FROM_WHERE_LIKE_ON_WHERE_LIKE_AND_IN_AND_NOT_IN_AND_IN_AND_NOT_IN 10

INSERT_TABLE_PARTITION_SELECT_FROM_WHERE_AND_ORDER_BY 3

INSERT_TABLE_PARTITION_SELECT_IS_IS_FROM_SELECT_DISTINCT_OF_DOUBLE_SELECT_DISTINCT_FROM_INNER_JOIN_ON_WHERE_LIKE_AND_LIKE_LIKE_LIKE_AND_IN_AND_IN_AND_NOT_IN_ORDER_BY_GROUP_BY 8

INSERT_TABLE_PARTITION_SELECT_IS_NOT_IS_NOT_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_NOT_IN_IS_NOT_IS_NOT_IS_NOT_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_NOT_IN_IS_NOT_IS_NOT_IS_NOT_FROM_IF_IS_OF_IF_OF_IS_NOT_WITH_MORE_SELECT_IF_IF_IF_FROM_BY_SELECT_FROM_JOIN_WITH_AND_IF_IS_OF_JOIN_WITH_TABLE_TO_WHERE_SELECT_IF_IN_IF_IN_IF_IN_IF_IS_NOT_IF_IS_IF_IS_NOT_IF_IS_NOT_IF_IS_NOT_FROM_INNER_JOIN_ON_LEFT_JOIN_ON_WHERE_AND_AND_LIKE_AND_LIKE_AND_LIKE_AND_LIKE_AND_LIKE_AND_LIKE_GROUP_BY_GROUP_BY 6

INSERT_TABLE_PARTITION_SELECT_IS_NOT_IS_NOT_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_NOT_IN_IS_NOT_IS_NOT_IS_NOT_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_IN_IS_NOT_NOT_IN_IS_NOT_IS_NOT_IS_NOT_FROM_IF_IS_OF_IF_OF_IS_NOT_WITH_MORE_SELECT_IF_IF_IF_FROM_BY_SELECT_FROM_JOIN_WITH_AND_IF_IS_OF_JOIN_WITH_TABLE_TO_WHERE_SELECT_IF_IN_IF_IN_IF_IN_IF_IS_NOT_IF_IS_IF_IS_NOT_IF_IS_NOT_IF_IS_NOT_FROM_INNER_JOIN_SELECT_DISTINCT_FROM_WHERE_LIKE_ON_LEFT_JOIN_ON_WHERE_AND_AND_LIKE_AND_LIKE_AND_LIKE_AND_LIKE_AND_LIKE_GROUP_BY_GROUP_BY 4

INSERT_TABLE_SELECT_BY_ORDER_BY_BY_ORDER_BY_FROM_SELECT_FROM_WHERE_GROUP_BY_ORDER_BY 8

INSERT_TABLE_SELECT_FROM_JOIN_ON_WHERE_OR 9

INSERT_TABLE_SELECT_FROM_LEFT_OUTER_JOIN_SELECT_FROM_GROUP_BY_ON 70

INSERT_TABLE_SELECT_FROM_WHERE 2

IS_OF_BOTH_AND_IN_CREATE_TABLE_SELECT_FROM_WHERE_AND 10

OF_AND_SELECT_FROM_SELECT_FROM_SELECT_LIKE_OR_LIKE_LIKE_OR_LIKE_OR_LIKE_OR_LIKE_LIKE_FROM_WHERE_BETWEEN_AND_AND_AND_INNER_JOIN_SELECT_DISTINCT_FROM_WHERE_BETWEEN_AND_ON_GROUP_BY_WHERE_AND 3

OF_AND_SELECT_FROM_SELECT_FROM_SELECT_LIKE_OR_LIKE_LIKE_OR_LIKE_OR_LIKE_OR_LIKE_LIKE_LIKE_FROM_WHERE_BETWEEN_AND_AND_AND_INNER_JOIN_SELECT_DISTINCT_FROM_WHERE_BETWEEN_AND_ON_GROUP_BY_WHERE_AND_OR 3

OF_AND_SELECT_FROM_SELECT_FROM_WHERE_BETWEEN_AND_INNER_JOIN_SELECT_LIKE_OR_LIKE_LIKE_OR_LIKE_OR_LIKE_OR_LIKE_LIKE_FROM_WHERE_BETWEEN_AND_AND_AND_ON_GROUP_BY 2

OF_AND_SELECT_FROM_SELECT_LIKE_OR_LIKE_LIKE_OR_LIKE_OR_LIKE_OR_LIKE_LIKE_FROM_WHERE_BETWEEN_AND_AND_AND_GROUP_BY 2

OF_AND_SELECT_FROM_SELECT_LIKE_OR_LIKE_LIKE_OR_LIKE_OR_LIKE_OR_LIKE_LIKE_FROM_WHERE_BETWEEN_AND_AND_AND_INNER_JOIN_SELECT_DISTINCT_FROM_WHERE_BETWEEN_AND_ON 2

OF_AND_SELECT_FROM_SELECT_LIKE_OR_LIKE_LIKE_OR_LIKE_OR_LIKE_OR_LIKE_LIKE_FROM_WHERE_BETWEEN_AND_AND_AND_INNER_JOIN_SELECT_DISTINCT_FROM_WHERE_BETWEEN_AND_ON_GROUP_BY 6

OF_AND_SELECT_FROM_WHERE_BETWEEN_AND_AND_AND 2

OF_AND_SELECT_LIKE_OR_LIKE_LIKE_OR_LIKE_OR_LIKE_LIKE_FROM_WHERE_BETWEEN_AND_AND_AND 1

OF_AND_SELECT_LIKE_OR_LIKE_LIKE_OR_LIKE_OR_LIKE_OR_LIKE_LIKE_FROM_WHERE_BETWEEN_AND_AND_AND 1

SELECT 17

SELECT_CASE_WHEN_IS_NULL_THEN_CASE_WHEN_IS_NULL_THEN_END_FROM 1

SELECT_CASE_WHEN_IS_NULL_THEN_END_CASE_WHEN_IS_NULL_THEN_END_FROM 1

SELECT_CASE_WHEN_LIKE_THEN_ELSE_END_FROM_RIGHT_JOIN_ON 2

SELECT_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_IS_NULL_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_FROM_WHERE 2

SELECT_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_CASE_WHEN_THEN_ELSE_END_FROM_WHERE 3

SELECT_DISTINCT_CASE_WHEN_LIKE_OR_LIKE_OR_LIKE_THEN_WHEN_LIKE_OR_LIKE_THEN_WHEN_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_THEN_WHEN_NOT_LIKE_AND_NOT_LIKE_AND_LIKE_OR_LIKE_THEN_WHEN_IS_NULL_AND_LIKE_OR_LIKE_THEN_WHEN_LIKE_THEN_WHEN_LIKE_OR_LIKE_THEN_WHEN_IN_THEN_WHEN_IS_NULL_THEN_ELSE_END_CASE_WHEN_LIKE_OR_LIKE_THEN_ELSE_END_FROM_LEFT_JOIN_WHERE_AND_AND 1

SELECT_DISTINCT_CURRENT_DATE_FROM_LEFT_JOIN_ON_ORDER_BY 57

SELECT_DISTINCT_CURRENT_DATE_FROM_LEFT_JOIN_ON_WHERE_ORDER_BY 9

SELECT_DISTINCT_CURRENT_DATE_FROM_LEFT_JOIN_PARTITION_ON_ORDER_BY 6

SELECT_DISTINCT_DISTINCT_FROM_LATERAL_FROM_LATERAL_WHERE_AND_WHERE_AND_WHERE_AND_AND_BETWEEN_AND_OR_BETWEEN_AND_OR_BETWEEN_AND 20

SELECT_DISTINCT_FROM 12

SELECT_DISTINCT_FROM_JOIN_ON_AND_AND_JOIN_ON_AND_JOIN_ON_WHERE_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_AND 16

SELECT_DISTINCT_FROM_JOIN_ON_JOIN_ON_AND_JOIN_ON_WHERE_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_AND 16

SELECT_DISTINCT_FROM_JOIN_ON_JOIN_ON_JOIN_ON_WHERE_AND 4

SELECT_DISTINCT_FROM_JOIN_ON_JOIN_ON_JOIN_ON_WHERE_AND_AND_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_AND_AND_AND_NOT 9

SELECT_DISTINCT_FROM_JOIN_ON_JOIN_ON_WHERE_AND_AND_AND_AND_AND_LIKE_AND_LIKE 10

SELECT_DISTINCT_FROM_JOIN_ON_JOIN_ON_WHERE_AND_AND_AND_AND_LIKE_AND_LIKE 2

SELECT_DISTINCT_FROM_JOIN_ON_LEFT_JOIN_ON_WHERE_OR_AND_AND_AND_AND 3

SELECT_DISTINCT_FROM_JOIN_ON_WHERE 83

SELECT_DISTINCT_FROM_JOIN_ON_WHERE_AND_AND_IN 6

SELECT_DISTINCT_FROM_JOIN_ON_WHERE_AND_AND_LIKE 5

SELECT_DISTINCT_FROM_JOIN_ON_WHERE_AND_AND_LIKE_AND 4

SELECT_DISTINCT_FROM_JOIN_ON_WHERE_AND_AND_LIKE_AND_NOT 4

SELECT_DISTINCT_FROM_JOIN_ON_WHERE_AND_AND_NOT_AND_AND_AND_NOT_AND_OR_AND 5

SELECT_DISTINCT_FROM_JOIN_ON_WHERE_LIKE 1

SELECT_DISTINCT_FROM_LEFT_OUTER_JOIN_ON_AND 1

SELECT_DISTINCT_FROM_SELECT_DISTINCT_FROM_SELECT_FROM_LATERAL_SELECT_FROM_LATERAL_WHERE_AND_WHERE_AND_AND_AND_WHERE_AND_AND_BETWEEN_AND_OR_BETWEEN_AND_OR_BETWEEN_AND 3

SELECT_DISTINCT_FROM_SELECT_DISTINCT_FROM_SELECT_FROM_LATERAL_SELECT_FROM_LATERAL_WHERE_AND_WHERE_AND_WHEN_THEN_AND_AND_AND_WHERE_AND_AND_BETWEEN_AND_OR_BETWEEN_AND_OR_BETWEEN_AND 3

SELECT_DISTINCT_FROM_SELECT_DISTINCT_FROM_SELECT_FROM_LATERAL_SELECT_FROM_LATERAL_WHERE_AND_WHERE_CASE_WHEN_THEN_AND_AND_AND_AND_ELSE_AND_AND_AND_WHERE_AND_AND_BETWEEN_AND_OR_BETWEEN_AND_OR_BETWEEN_AND 18

SELECT_DISTINCT_FROM_WHERE 27

SELECT_DISTINCT_FROM_WHERE_AND 74

SELECT_DISTINCT_FROM_WHERE_AND_AND 1

SELECT_DISTINCT_FROM_WHERE_AND_AND_AND_AND_AND 3

SELECT_DISTINCT_FROM_WHERE_AND_AND_AND_AND_AND_AND 6

SELECT_DISTINCT_FROM_WHERE_AND_AND_AND_LIKE_AND_AND_AND_AND_AND_AND_LIKE 6

SELECT_DISTINCT_FROM_WHERE_LIKE 4

SELECT_DISTINCT_FROM_WHERE_LIKE_AND_AND_AND_AND 2

SELECT_DISTINCT_FROM_WHERE_LIKE_AND_LIKE 2

SELECT_DISTINCT_FROM_WHERE_OR 3

SELECT_DISTINCT_FROM_WHERE_OR_CURRENT_AND 1

SELECT_DISTINCT_WHEN_THEN_ELSE_WHEN_THEN_ELSE_FROM_WHERE 1

SELECT_FROM 113

SELECT_FROM_DISTINCT_FROM_WHERE_IN_AND_AND_AND_NOT 2

SELECT_FROM_DISTINCT_WHEN_THEN_ELSE_WHEN_THEN_ELSE_FROM_WHERE_AND_AND_IN_AND_IN_GROUP_BY 2

SELECT_FROM_FROM_WHEN_IS_NULL_THEN_ELSE_FROM_WHEN_IS_NULL_THEN_ELSE_FROM_LEFT_JOIN_ON_AND_AND_AND_LEFT_JOIN_ON_AND_LEFT_JOIN_FROM_LEFT_JOIN_AND_ON_AND_AND_LEFT_JOIN_FROM_GROUP_BY 36

SELECT_FROM_FROM_WHERE_GROUP_BY_WHERE 3

SELECT_FROM_FROM_WHERE_GROUP_BY_WHERE_AND_AND 2

SELECT_FROM_FROM_WHERE_GROUP_BY_WHERE_AND_AND_AND 2

SELECT_FROM_FROM_WHERE_GROUP_BY_WHERE_GROUP_BY 1

SELECT_FROM_GROUP_BY 12

SELECT_FROM_GROUP_BY_ORDER_BY 6

SELECT_FROM_INNER_JOIN_FROM_FROM_WHERE_GROUP_BY_WHERE_ON_AND 2

SELECT_FROM_INNER_JOIN_ON_AND_AND_BETWEEN_AND_WHERE_AND_AND_AND_IS_NULL_OR_OR_OR_OR_ORDER_BY 116

SELECT_FROM_INNER_JOIN_ON_AND_AND_IN_AND_AND_GROUP_BY 4

SELECT_FROM_INNER_JOIN_ON_AND_AND_WHERE_AND_AND_AND_AND_IS_NULL_OR_OR_OR_OR_GROUP_BY_ORDER_BY 216

SELECT_FROM_INNER_JOIN_ON_AND_AND_WHERE_AND_AND_AND_AND_IS_NULL_OR_OR_OR_OR_ORDER_BY 14

SELECT_FROM_INNER_JOIN_ON_AND_AND_WHERE_LIKE_AND_IN 2

SELECT_FROM_INNER_JOIN_ON_WHERE_AND_AND_AND_AND_IS_NULL_OR_OR_OR_OR_GROUP_BY 102

SELECT_FROM_INNER_JOIN_SELECT_DISTINCT_FROM_WHERE_NOT_LIKE_AND_NOT_LIKE_ON_WHERE_IN_DISTINCT_FROM_WHERE_AND_GROUP_BY 5

SELECT_FROM_INNER_JOIN_SELECT_FROM_WHERE_AND_AND_AND_IS_NULL_OR_OR_OR_OR_GROUP_BY_ON_LEFT_OUTER_JOIN_ON_AND_AND_LEFT_OUTER_JOIN_ON_AND_LIKE_AND_WHERE_ORDER_BY 240

SELECT_FROM_JOIN_FROM_FROM_WHERE_GROUP_BY_WHERE_ON_AND 2

SELECT_FROM_JOIN_FROM_FROM_WHERE_GROUP_BY_WHERE_ON_AND_AND 2

SELECT_FROM_JOIN_ON 6

SELECT_FROM_JOIN_ON_AND_AND_BETWEEN_AND_WHERE_AND_AND_AND_IS_NULL_OR_OR_OR_OR_ORDER_BY 144

SELECT_FROM_JOIN_ON_AND_AND_NOT_AND_AND_AND_NOT_AND_OR_AND 3

SELECT_FROM_JOIN_ON_AND_LIKE_JOIN_ON_AND_JOIN_ON_WHERE_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE_AND_LIKE 9

SELECT_FROM_JOIN_ON_AND_WHERE_BETWEEN_AND_AND_BETWEEN_AND_AND_AND_GROUP_BY 8

SELECT_FROM_JOIN_ON_AND_WHERE_BETWEEN_AND_AND_BETWEEN_AND_AND_NOT_AND_NOT_AND_AND_AND_GROUP_BY 4

SELECT_FROM_JOIN_ON_GROUP_BY 3

SELECT_FROM_JOIN_ON_JOIN_ON_AND_LEFT_JOIN_ON_WHERE_AND_AND_AND_AND_AND_AND_AND_LIKE_GROUP_BY 4

SELECT_FROM_JOIN_ON_JOIN_ON_JOIN_ON_JOIN_ON_WHERE_OR_OR_AND_AND_AND_AND_AND_AND_AND_AND_AND_AND_AND_GROUP_BY 4

SELECT_FROM_JOIN_ON_JOIN_ON_WHERE_IN_AND_AND_AND_AND_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_AND_AND_NOT_AND_NOT 7

SELECT_FROM_JOIN_ON_JOIN_ON_WHERE_IN_AND_AND_AND_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_AND_AND_NOT_AND_NOT 3

SELECT_FROM_JOIN_ON_JOIN_ON_WHERE_IN_AND_AND_AND_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_AND_AND_NOT_AND_NOT_AND 2

SELECT_FROM_JOIN_ON_JOIN_ON_WHERE_IN_AND_LIKE_AND_AND_AND_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_AND_AND_NOT_AND_NOT 1

SELECT_FROM_JOIN_ON_JOIN_ON_WHERE_LIKE_AND_LIKE_AND_LIKE_AND_LIKE_GROUP_BY 3

SELECT_FROM_JOIN_ON_LEFT_JOIN_ON_WHERE_LIKE_AND_LIKE_AND_AND_AND_AND 4

SELECT_FROM_JOIN_ON_LEFT_JOIN_ON_WHERE_OR_AND_AND_AND_AND 2

SELECT_FROM_JOIN_ON_LIKE_LIKE_AND_LIKE_AND_LIKE_AND_LIKE_GROUP_BY 4

SELECT_FROM_JOIN_ON_LIKE_WHERE_LIKE_AND_LIKE_AND_LIKE_AND_GROUP_BY 2

SELECT_FROM_JOIN_ON_LIKE_WHERE_LIKE_AND_LIKE_AND_LIKE_AND_LIKE_GROUP_BY 4

SELECT_FROM_JOIN_ON_WHERE 7

SELECT_FROM_JOIN_ON_WHERE_AND 1

SELECT_FROM_JOIN_ON_WHERE_AND_AND 1

SELECT_FROM_JOIN_ON_WHERE_AND_AND_AND 1

SELECT_FROM_JOIN_ON_WHERE_AND_AND_AND_AND_IS_NULL_OR_OR_OR_OR_AND_AND_GROUP_BY_ORDER_BY 237

SELECT_FROM_JOIN_ON_WHERE_AND_AND_NOT_AND_AND_AND_NOT_AND_GROUP_BY 10

SELECT_FROM_JOIN_ON_WHERE_AND_AND_NOT_AND_AND_AND_NOT_AND_OR_AND_GROUP_BY 4

SELECT_FROM_JOIN_ON_WHERE_DATE_LIKE_AND_AND 1

SELECT_FROM_JOIN_ON_WHERE_DATE_LIKE_AND_AND_GROUP_BY 5

SELECT_FROM_JOIN_ON_WHERE_GROUP_BY 1

SELECT_FROM_JOIN_ON_WHERE_IN_AND_AND_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_NOT_AND_AND_AND_NOT_GROUP_BY 2

SELECT_FROM_JOIN_ON_WHERE_IN_AND_AND_GROUP_BY 4

SELECT_FROM_JOIN_ON_WHERE_LIKE 3

SELECT_FROM_JOIN_ON_WHERE_LIKE_AND 16

SELECT_FROM_JOIN_ON_WHERE_LIKE_AND_AND_AND_AND_LIKE_ORDER_BY 42

SELECT_FROM_JOIN_ON_WHERE_LIKE_AND_AND_ORDER_BY 6

SELECT_FROM_JOIN_ON_WHERE_LIKE_AND_LIKE 1

SELECT_FROM_JOIN_ON_WHERE_NOT_LIKE_AND_NOT_LIKE_AND 14

SELECT_FROM_JOIN_ON_WHERE_NOT_LIKE_AND_NOT_LIKE_AND_AND_IN_OR 14

SELECT_FROM_JOIN_ON_WHERE_OR 1

SELECT_FROM_LATERAL 1

SELECT_FROM_LEFT_JOIN_ON_WHERE_NOT_LIKE_AND_NOT_LIKE_AND_AND_LIKE_AND_IN 14

SELECT_FROM_LEFT_OUTER_JOIN_DISTINCT_FROM_ON 2

SELECT_FROM_LEFT_OUTER_JOIN_ON 1

SELECT_FROM_LEFT_OUTER_JOIN_ON_AND_AND_WHERE_LIKE_AND_LIKE_AND_IN_AND_LIKE 2

SELECT_FROM_LEFT_OUTER_JOIN_ON_LEFT_OUTER_JOIN_ON_LEFT_OUTER_JOIN_ON_WHERE_AND_AND_LIKE_AND_AND_AND_AND_NOT_AND_NOT_LIKE_AND_GROUP_BY 51

SELECT_FROM_LEFT_OUTER_JOIN_ON_LEFT_OUTER_JOIN_ON_WHERE_AND_AND_LIKE_AND_AND_AND_AND_NOT_AND_NOT_LIKE_AND_GROUP_BY 26

SELECT_FROM_LEFT_OUTER_JOIN_ON_LEFT_OUTER_JOIN_ON_WHERE_AND_AND_LIKE_AND_LIKE_AND_AND_AND_AND_NOT_AND_NOT_LIKE_AND_GROUP_BY 4

SELECT_FROM_LEFT_OUTER_JOIN_ON_WHERE_AND_OR_GROUP_BY 2

SELECT_FROM_ON_WHERE_GROUP_BY 1

SELECT_FROM_RIGHT_JOIN_FROM_FROM_WHERE_GROUP_BY_WHERE_ON_AND 2

SELECT_FROM_RIGHT_JOIN_ON 1

SELECT_FROM_RIGHT_JOIN_ON_WHERE_NOT_LIKE_NOT_LIKE_AND 14

SELECT_FROM_SELECT_FROM_JOIN_ON_WHERE_AND_AND_IN_GROUP_BY_GROUP_BY_ORDER_BY 3

SELECT_FROM_WHERE 71923

SELECT_FROM_WHERE_AND 25

SELECT_FROM_WHERE_AND_AND 7

SELECT_FROM_WHERE_AND_AND_AND 1

SELECT_FROM_WHERE_AND_AND_AND_AND_AND 3

SELECT_FROM_WHERE_AND_AND_AND_OR 1

SELECT_FROM_WHERE_AND_AND_GROUP_BY 1

SELECT_FROM_WHERE_AND_AND_IN 3

SELECT_FROM_WHERE_AND_AND_IN_AND_GROUP_BY 2

SELECT_FROM_WHERE_AND_AND_LIKE 6

SELECT_FROM_WHERE_AND_AND_LIKE_LIKE_AND_AND_AND_AND 2

SELECT_FROM_WHERE_AND_AND_LIKE_LIKE_AND_AND_AND_AND_AND 4

SELECT_FROM_WHERE_AND_AND_LIKE_OR_LIKE_AND_AND_AND_AND 4

SELECT_FROM_WHERE_AND_AND_LIKE_OR_LIKE_AND_AND_AND_AND_AND 7

SELECT_FROM_WHERE_AND_GROUP_BY 2

SELECT_FROM_WHERE_AND_IN 2

SELECT_FROM_WHERE_AND_IN_AND 1

SELECT_FROM_WHERE_AND_LIKE_AND_AND_AND_AND 1

SELECT_FROM_WHERE_AND_LIKE_AND_AND_AND_AND_AND 1

SELECT_FROM_WHERE_AND_LIKE_AND_LIKE 3

SELECT_FROM_WHERE_AND_LIKE_AND_LIKE_AND_AND_AND_AND 1

SELECT_FROM_WHERE_AND_LIKE_GROUP_BY 1

SELECT_FROM_WHERE_AND_LIKE_OR_LIKE_AND_AND_AND_AND 2

SELECT_FROM_WHERE_AND_LIKE_OR_LIKE_AND_AND_AND_AND_AND 2

SELECT_FROM_WHERE_DATE 1

SELECT_FROM_WHERE_DATE_AND 3

SELECT_FROM_WHERE_DATE_GROUP_BY_DATE 1

SELECT_FROM_WHERE_DATE_GROUP_BY_DATE_ORDER_BY 2

SELECT_FROM_WHERE_DATE_LIKE 6

SELECT_FROM_WHERE_DATE_LIKE_AND 2

SELECT_FROM_WHERE_DATE_LIKE_GROUP_BY_DATE 3

SELECT_FROM_WHERE_FALSE 1

SELECT_FROM_WHERE_GROUP_BY 22

SELECT_FROM_WHERE_GROUP_BY_ORDER_BY 10

SELECT_FROM_WHERE_IN 8

SELECT_FROM_WHERE_IN_FROM_WHERE_LIKE 6

SELECT_FROM_WHERE_IN_ORDER_BY 5

SELECT_FROM_WHERE_IN_ORDER_BY_DATE 1

SELECT_FROM_WHERE_IS_NOT_NULL 5

SELECT_FROM_WHERE_LIKE 45

SELECT_FROM_WHERE_LIKE_AND 2

SELECT_FROM_WHERE_LIKE_AND_AND 4

SELECT_FROM_WHERE_LIKE_AND_AND_AND_AND_AND_LIKE_ORDER_BY 3

SELECT_FROM_WHERE_LIKE_AND_IN_AND_AND_AND_AND_AND_LIKE_ORDER_BY 6

SELECT_FROM_WHERE_LIKE_AND_LIKE 14

SELECT_FROM_WHERE_LIKE_AND_LIKE_GROUP_BY 2

SELECT_FROM_WHERE_LIKE_AND_NOT_LIKE 1

SELECT_FROM_WHERE_LIKE_LIKE 1

SELECT_FROM_WHERE_LIKE_NOT_LIKE 1

SELECT_FROM_WHERE_LIKE_OR_LIKE_AND_LIKE_GROUP_BY 2

SELECT_FROM_WHERE_LIKE_OR_LIKE_OR_LIKE 1

SELECT_FROM_WHERE_LIKE_OR_LIKE_OR_LIKE_AND_AND_AND_NOT_AND_NOT_AND_AND_AND_NOT_AND_NOT_AND 6

SELECT_FROM_WHERE_NOT_FROM_WHERE_AND 6

SELECT_FROM_WHERE_NOT_FROM_WHERE_AND_AND 9

SELECT_FROM_WHERE_NOT_LIKE_AND_NOT_LIKE_AND_NOT_LIKE 1

SELECT_FROM_WHERE_NOT_LIKE_LIKE 2

SELECT_FROM_WHERE_NOT_LIKE_NOT_LIKE 2

SELECT_FROM_WHERE_ORDER_BY 1

SELECT_FROM_WHERE_OR_AND 1

SELECT_FROM_WHERE_TRUE 1

SELECT_LIKE_LIKE_LIKE_FROM_JOIN_ON_WHERE_LIKE_AND_LIKE_GROUP_BY_LIKE_LIKE_LIKE_BY 2

SELECT_LIKE_LIKE_LIKE_LIKE_FROM_JOIN_ON_WHERE_LIKE_AND_LIKE_AND_LIKE_GROUP_BY_LIKE_LIKE_LIKE_LIKE_BY 2

SELECT_LIKE_LIKE_LIKE_LIKE_FROM_JOIN_ON_WHERE_LIKE_AND_LIKE_GROUP_BY_LIKE_LIKE_LIKE_LIKE_BY 6

SELECT_OVER_BY_ORDER_BY_FROM 1

SELECT_OVER_BY_OVER_BY_BY_ORDER_BY_FROM_WHERE_GROUP_BY 3

SELECT_WHEN_IS_NULL_THEN_ELSE_FROM_LEFT_JOIN_ON_AND_AND_AND_GROUP_BY 1

SELECT_WHEN_LIKE_THEN_ELSE_END_WHEN_LIKE_THEN_ELSE_END_TO_FROM_WHERE_AND_AND_AND_AND_AND_AND_AND_LIKE_AND_LIKE_AND_AND_AND_AND_AND_LIKE_AND_AND_AND_AND_AND_AND_AND_AND_AND_AND_AND_AND_AND_AND 10

SELECT_WHEN_THEN_ELSE_WHEN_THEN_ELSE_FROM 2

SELECT_WHEN_THEN_ELSE_WHEN_THEN_ELSE_FROM_WHERE 1

SELECT_WHEN_THEN_ELSE_WHEN_THEN_ELSE_FROM_WHERE_AND_AND 2

UPDATE_SET_WHERE_AND_AND_IN 1

UPDATE_SET_WHERE_IN_AND_AND_IS_NOT_NULL_AND_NOT_IN_AND_NOT_LIKE 1

UPDATE_SET_WHERE_IS_NULL_AND_IS_NOT_NULL 1

WITH_DISTINCT_FROM_WHERE_AND_AND_IN_FROM_WHERE_AND_AND_IN_AND_IN_DISTINCT_FROM_SELECT_FROM_FROM_WHERE_LEFT_OUTER_JOIN_FROM_WHERE_ON_AND_JOIN_ON_ORDER_BY 2876

In [50]:
# build queries based on trees 

# convert queries into graph tool graphs

# convert graphs into Gaston model but eliminate leaves

# find frequent subgraphs 

# draw their latency distribution.

In [60]:
print(dfg)

                                                   query  counts
0      \tSELECT DISTINCT query.haPairId AS HaPairId, ...       9
1      \tSELECT DISTINCT query.haPairId AS HaPairId, ...       6
2      \tSELECT DISTINCT query.haPairId AS HaPairId, ...       6
3      \tSELECT DISTINCT query.haPairId AS HaPairId, ...       9
4      \tSELECT DISTINCT query.haPairId AS HaPairId, ...       9
...                                                  ...     ...
22866  with z as (SELECT distinct asup_key, sys_seria...       8
22867  with z as (SELECT distinct asup_key, sys_seria...       8
22868  with z as (SELECT distinct asup_key, sys_seria...       8
22869  with z as (SELECT distinct asup_key, sys_seria...       8
22870  with z as (SELECT distinct asup_key, sys_seria...       8

[22871 rows x 2 columns]