In [35]:
import pandas as pd
import json
import os
import sys
import glob
import graph_tool.all as gt
from datetime import datetime, date, time
import matplotlib.ticker as ticker
import matplotlib.pyplot as plt
from os import listdir
from os.path import isfile, join
import numpy as np
import math

statistics_dir = '/home/maniaa/ashes/dataset/statistics/'
stat_csv = [(statistics_dir + f) for f in listdir(statistics_dir) if (f.endswith(".csv") and isfile(join(statistics_dir, f)))]
stat_csv.sort()
stat_csv = stat_csv[1:]

In [47]:
dt = pd.DataFrame()
# 90th Percentile
def build_graph(gstr):
    wrk_edges = [e.split('>') for e in gstr.split(',')]
    lbl_vid = {}
    graph = {'nodes': {}, 'edges': []}
    g = gt.Graph(directed=True)
    v_lbl = g.new_vertex_property("int")
    for e in wrk_edges:
        srclbl = int(e[0].split('-')[1])
        if srclbl not in lbl_vid:
            vsrc = g.add_vertex()
            v_lbl[vsrc] = srclbl
            lbl_vid[srclbl] = int(vsrc)
            
        if len(e) > 1:
            trgtlbl = int(e[1].split('-')[1])
            if trgtlbl not in lbl_vid:
                vtgt = g.add_vertex()
                v_lbl[vtgt] = trgtlbl
                lbl_vid[trgtlbl] = int(vtgt)
            g.add_edge(lbl_vid[srclbl], lbl_vid[trgtlbl])
   
    g.vertex_properties['label'] = v_lbl
    return g
    
def num_vertices(g):
    return g.num_vertices()

def num_edges(g):
    return g.num_edges()
 
    
for index, f in enumerate(stat_csv):
    # 6Am of each day
    print(f)
    month, day, year = f.split('/')[-1].split('.csv')[0].split('-')
    trace_starttime = datetime.combine(date(int(year), int(month), int(day)), time(7, 0))
    
    df = pd.read_csv(f)
    df = df[df['submitTime']/1000 > datetime.timestamp(trace_starttime)]
    
    df = df[df['state'] == 'SUCCEEDED']
    df['submit_ts'] = df['submitTime']//1000 - datetime.timestamp(trace_starttime);

    print(df.columns)
      
    dt['dag'] = df.groupby('workflow.id')['workflow.dag'].agg('max').apply(build_graph)
    dt[['query', 'submitTime']] = df.groupby('workflow.id')[['query', 'submitTime']].agg('max')
    dt['n_v'] = dt['dag'].apply(num_vertices)
    dt['n_e'] = dt['dag'].apply(num_edges)
    dt.reset_index(inplace=True)
    if index==0:
        break

/home/maniaa/ashes/dataset/statistics/08-02-2018.csv
Index(['state', 'submitTime', 'startTime', 'finishTime', 'queueTime',
       'runTime', 'NumMaps', 'avgMapTime', 'avgReduceTime', 'avgShuffleTime',
       'avgMergeTime', 'NumReduce', 'HDFS_INPUT_SIZE', 'HDFS_OUTPUT_SIZE',
       'MAP_CPU_USAGE_MSEC', 'REDUCE_CPU_USAGE_MSEC', 'MAP_MEM_USAGE_B',
       'REDUCE_MEM_USAGE_B', 'HIVE_RECORDS_IN', 'HIVE_RECORDS_OUT',
       'HIVE_RECORDS_INTERMEDIATE', 'SLOTS_MILLIS_MAPS',
       'SLOTS_MILLIS_REDUCES', 'TOTAL_LAUNCHED_MAPS', 'TOTAL_LAUNCHED_REDUCES',
       'DATA_LOCAL_MAPS', 'RACK_LOCAL_MAPS', 'MILLIS_MAPS', 'MILLIS_REDUCES',
       'VCORES_MILLIS_MAPS', 'VCORES_MILLIS_REDUCES', 'MB_MILLIS_MAPS',
       'MB_MILLIS_REDUCES', 'PHMAP_MEM_USAGE_B', 'PHREDUCE_MEM_USAGE_B',
       'PHPHYSICAL_MEMORY_B', 'jobid', 'job.maps', 'query', 'outputdir',
       'scratchdir', 'sessionid', 'query.id', 'local.scratchdir', 'tmpouput',
       'user.name', 'job', 'n_inputs', 'inputdir', 'workflow.node',
       'workflow.id', 'workflow.dag', 'table.name', 'submit_ts'],
      dtype='object')

In [48]:
dt.sort_values('submitTime', inplace=True)

In [90]:
conn = hive.connect(host='localhost').cursor()






que = 'drop table default.system'
conn.execute(que, async=False)

que = '''CREATE table IF NOT EXISTS default.system 
(dt date, asup_key string, asup_subject string, sys_serial_no string, sys_is_netapp string,
asup_id string, sys_version_fbranch string, system_id string, partner_hostname string,
partner_system_id string,Hostname string,sys_model string,sys_version string,
sys_operating_mode string, sys_type string, sys_domain string, additional_fields  map<string,string>)'''
conn.execute(que, async=False)

que = 'drop table default.cluster_table'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS default.cluster_table (cluster_name string, cluster_identifier string, asup_id string, dt date, cluster_uuid string, asup_key string)'
conn.execute(que, async=False)



que = 'drop table default.customerib'
conn.execute(que, async=False)

que = '''CREATE table IF NOT EXISTS default.customerib (sap_status string, not_e1000_customer_flag string, 
e1000_customer_flag string, G50_customer_flag string, A50_customer_flag string, msb_customer_flag string, 
email_address string, serial_number string, customer_id string, parent_name string, customer_name string,
site_name string,service_geo string,site_country_name string,site_country string)'''
conn.execute(que, async=False)


que = 'drop table default.asup'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS default.asup (asup_subject string, asup_id string, asup_type string, dt date, asup_gen_date date)'
conn.execute(que, async=False)


que = 'drop table default.volume'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS default.volume (vol_name string, vol_state_asis string, asup_id string, aggr_id string, vol_compressed_kb string, dt date, vol_allocated_kb  string, additional_fields  map<string,string>, vol_is_root  string, vol_is_online  string, vol_asis_saved_kb  string, vol_asis_saved_pct  string, vol_compressed_pct string)'
conn.execute(que, async=False)


que = 'drop table default.aggregate'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS default.aggregate (aggr_is_hybrid string, aggr_used_kb int, aggr_sused_kb int, dt date, asup_id string, aggr_name string)'
conn.execute(que, async=False)


que = 'drop table default.cm'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS default.cm (asup_key string, object_name string, dt date, counters map<string,int>)'
conn.execute(que, async=False)

que = 'drop table default.DFM_APP_INFO'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS default.DFM_APP_INFO (dt date)'
conn.execute(que, async=False)

que = 'drop table default.DFM_APP_MODEL'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS default.DFM_APP_MODEL (dt date)'
conn.execute(que, async=False)

que = 'drop table oci_svc_consumption_list_details'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS oci_svc_consumption_list_details (dt date, sys_serial_no string)'
conn.execute(que, async=False)

que = 'drop table default.cluster_member'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS default.cluster_member (asup_id string, dt date)'
conn.execute(que, async=False)

que = 'drop table system_perf_v1'
conn.execute(que, async=False)

que = '''CREATE table IF NOT EXISTS system_perf_v1 (ttl_perf_v1_ct int, ttl_diskkb_cp_read_ct int,
ttl_diskkb_cp_write_ct int, ttl_diskkb_usr_ct int, asup_id string, dt date,
ttl_disk_ops_cp_read_ct int, ttl_disk_ops_cp_write_ct int, ttl_disk_ops_usr_ct int)'''
conn.execute(que, async=False)


que = 'drop table system_health_alert'
conn.execute(que, async=False)

que = '''CREATE table IF NOT EXISTS system_health_alert (asup_id string, alert_id string, alerting_resource string,
dt date, alerting_resource_name string, asup_key string)'''
conn.execute(que, async=False)


que = 'drop table system_fru'
conn.execute(que, async=False)

que = '''CREATE table IF NOT EXISTS system_fru (netapp_part_no string, serial_no string, asup_key string, fru_name string)'''
conn.execute(que, async=False)


que = 'drop table motherboard'
conn.execute(que, async=False)

que = '''CREATE table IF NOT EXISTS motherboard (mb_serial_no string, mb_partno string, asup_key string)'''
conn.execute(que, async=False)


que = 'drop table smfdbv2.cifs_share_byname'
conn.execute(que, async=False)

que = '''CREATE table IF NOT EXISTS smfdbv2.cifs_share_byname (vserver string, asup_id string, dt date)'''
conn.execute(que, async=False)


que = 'drop table default.DFM_GLOBAL_STATUS'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS default.DFM_GLOBAL_STATUS (dt date)'
conn.execute(que, async=False)


que = 'drop table default.DFM_GUI_CLICK'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS default.DFM_GUI_CLICK (dt date)'
conn.execute(que, async=False)


que = 'drop table default.software_image'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS default.software_image (system_image_version string, asup_id string, system_image_is_current string, dt date)'
conn.execute(que, async=False)

que = 'drop table default.adapter'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS default.adapter (hba_name string, asup_id string, dt date)'
conn.execute(que, async=False)


que = 'drop table event_subscription'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS event_subscription (asup_id string, user_id string, dt date)'
conn.execute(que, async=False)

que = 'drop table default.DFM_OBJECT'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS default.DFM_OBJECT (asup_id string, user_id string, dt date)'
conn.execute(que, async=False)


que = 'drop table bart_disk_errors_f'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS bart_disk_errors_f (asup_id string,dt date)'
conn.execute(que, async=False)


que = 'drop table default.DFM_PERFORMANCE_ADVISOR'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS default.DFM_PERFORMANCE_ADVISOR (asup_id string,dt date)'
conn.execute(que, async=False)


que = 'drop table crm_data'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS crm_data  (system_id string,  sys_serial_no string, partners  ARRAY<string>, system_state string, customer_id string)'
conn.execute(que, async=False)

que = 'drop table event_subscription'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS event_subscription  (user_id string, user_name string, crm_cust_list  ARRAY<string>,  cust_list string, event_id string, is_subscribed string)'
conn.execute(que, async=False)

 
que = 'drop table renewal_data'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS renewal_data (sys_serial_no string, system_id string, host_name string, hw_contract_id string, hw_contract_end_date date, sw_contract_id string, sw_contract_end_date date, nrd_contract_id date, nrd_contract_end_date date)'
conn.execute(que, async=False)

In [91]:
from pyhive import hive
import ast

def process_tree(tree):
    if not tree: return ''
    for op in tree:
        if 'children' not in tree[op]: 
            return op.replace(' Operator', '')
        return op.replace(' Operator', '') + ' | ' + process_tree(tree[op]['children'])
        

def process_execution_plan(exp):
    operations = {}
    for stage_type in exp:
        if stage_type == 'Map Reduce':
            map_trees = exp[stage_type]['Map Operator Tree:']
            reduce_tree = exp[stage_type]['Reduce Operator Tree:']
            
            for tree in map_trees:
                operations['map'] = process_tree(tree)
            operations['reduce'] = process_tree(reduce_tree)
    return operations

def operator_footprint(query):
    global i    
    i = i + 1
    
    if 'dt = 2018' in query:
        return;
    
    try:
        print(i)
        conn.execute("explain FORMATTED " + query, async=False)
        exec_plan = conn.fetchall()
    except:
        print("An exception occurred")
        print(i, query, '\n')
        raise NameError("Operational Error")
    
    if 'create table AFF_VOLUME as' in query:
        que = 'drop table AFF_VOLUME'
        conn.execute(que, async=False)
        
        que = 'CREATE table IF NOT EXISTS AFF_VOLUME ((asup_id string,sys_serial_no string,sys_version string,aggr_id string,vol_name string, vol_state_asis string, vol_compressed_kb int, guarantee  string, vol_is_vsroot  string, vol_is_root string,vol_is_online string,vol_asis_saved_kb int, vol_asis_saved_pct int, vol_compressed_pct int, Aggregate_Used_KB int, Vol_size int)'
        conn.execute(que, async=False)
    
    
    if "create table OntapAdoptionDevice as" in query:
        que = 'drop table OntapAdoptionDevice'
        conn.execute(que, async=False)
        
        que = 'CREATE table IF NOT EXISTS OntapAdoptionDevice (asup_key string, asup_id string, dt date, dvc_disk_type string, dvc_serial_no string, dvc_phy_size_mb string, dvc_type string, dvc_label string)'
        conn.execute(que, async=False)

    #print(exec_plan)
    #stages = {}
    #for stgid in exec_plan['STAGE PLANS']:
    #    operations = process_execution_plan(exec_plan['STAGE PLANS'][stgid])
    #    if operations:
    #        stages[stgid] = operations
    
    #print(json.dumps(stages, indent=4))
    #return stages




i=0;
dt['operators'] = dt['query'].apply(operator_footprint)

1
2
3
4
5
6
7
8
9
10
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
An exception occurred
131 SELECT DISTINCT eu.user_id,
                eu.user_name,
                eu.system_id,
                r.host_name,
                eu.sys_serial_no,
                r.hw_contract_id,
                r.hw_contract_end_date,
                r.sw_contract_id,
                r.sw_contract_end_date,
                r.nrd_contract_id,
                r.nrd_contract_end_date
FROM            (
                                SELECT DISTINCT e.system_id,
                                                e.sys_serial_no,
                                                u.user_id,
                                                u.user_name
                                FROM            (
                                                       SELECT system_id,
                                                              sys_serial_no,
                                                              partner,
                                                              system_state,
    														  customer_id
                                                       FROM   crm_data LATERAL view explode(partners) p as partner) e,
                                                (
                                                       SELECT user_id,
                                                              user_name,
                                                              crmcustomerid,
                                                              cust_list
                                                       FROM   event_subscription LATERAL view explode(crm_cust_list) p as crmcustomerid
                                                       WHERE  event_id = '3'
                                                       AND    is_subscribed = 'true') u
                                WHERE           e.partner = u.crmcustomerid and array_contains(u.cust_list,e.customer_id)
                                AND             e.system_state = 'ACTIVE' and u.user_id='lislegaard') eu,
                renewal_data r
WHERE           eu.sys_serial_no = r.sys_serial_no
AND             eu.system_id = r.system_id
AND ( (r.hw_contract_end_date BETWEEN '2018-08-01 05:50:31.642' AND '2019-02-01 05:50:31.642') OR (r.sw_contract_end_date BETWEEN '2018-08-01 05:50:31.642' AND '2019-02-01 05:50:31.642') OR (r.nrd_contract_end_date BETWEEN '2018-08-01 05:50:31.642' AND '2019-02-01 05:50:31.642'))

NameError: Operational Error

In [15]:
'''
create table test_nb_db.ib_master_s as
select a.SYS_SERIAL_NO,a.IOBJECTID_SAP,a.SYSTEMID_SAP,a.HOSTNAME_SAP,a.SYS_PRODID_SAP,a.SYS_VERSION,
cast(To_date(from_unixtime(unix_timestamp(a.SYS_SHIPDATE_SAP, 'yyyy-MM-dd'))) as date) SYS_SHIPDATE_SAP,
cast(To_date(from_unixtime(unix_timestamp(a.FIRST_ASUP_DAY, 'yyyy-MM-dd'))) as date) FIRST_ASUP_DAY,
cast(To_date(from_unixtime(unix_timestamp(a.LAST_ASUP_DAY, 'yyyy-MM-dd'))) as date) LAST_ASUP_DAY,
a.CUSTOMERID_SAP,a.SITEID_SAP,a.CUST_ACCTYPE_SAP,a.CUST_NAME_SAP,a.CUST_NAGP,
a.CUST_NAME,a.CUST_SITENAME_SAP,a.CUST_DESCR_SAP,a.SYS_STATUS_SAP,a.SYS_ASUPSTATUS_SAP,a.MKT_CLASSIF_SAP,
a.MKT_SEGMENT_SAP,a.NA_CMAT_ID_SAP,a.PARENTID_SAP,a.AUTHORIZATIONGRP_SAP,
cast(To_date(from_unixtime(unix_timestamp(a.ETL_DATE, 'yyyy-MM-dd'))) as date) ETL_DATE,
a.SYS_MODEL,a.SYSTEM_NAME,a.SYS_MODE,a.SALES_ORDER_NUMBER,a.SALES_CHANNEL_TYPE,
cast(To_date(from_unixtime(unix_timestamp(a.SHIPPED_DATE, 'yyyy-MM-dd'))) as date) SHIPPED_DATE,
cast(To_date(from_unixtime(unix_timestamp(a.INSTALLED_DATE, 'yyyy-MM-dd'))) as date) INSTALLED_DATE,a.MANUAL_INSTALLED_DATE_FLAG,
cast(To_date(from_unixtime(unix_timestamp(a.LAST_ASUP_DATE, 'yyyy-MM-dd'))) as date) LAST_ASUP_DATE,
a.ASUP_STATUS,a.CUST_E1000,a.CUST_SITE,a.CUST_CITY,a.CUST_STATE,a.CUST_COUNTRY,
a.CUST_ACC_CLASSIFICATION,a.INSTALLED_BASE_GROUP,a.INSTALLED_PROD_STATUS,a.SERIAL_NO_OWNER_NAGP,a.SERIAL_NO_OWNER_NAME,
a.TGA_FLAG,a.HA_PAIR_FLAG,a.CUST_RESELLER_PARTY_NAME,a.CUST_ASP_NAME,a.CUST_SP_NAME,a.CUST_TPM_NAME,a.CUST_SALES_GEO,
a.CUST_SERVICE_GEO,a.CUST_SERVICE_AREA,a.SYS_NETAPP,a.SYS_NAME,a.ID1,a.SERVICE_LEVEL,
cast(To_date(from_unixtime(unix_timestamp(a.SYS_START_DATE, 'yyyy-MM-dd'))) as date) SYS_START_DATE,
cast(To_date(from_unixtime(unix_timestamp(a.SYS_END_DATE, 'yyyy-MM-dd'))) as date) SYS_END_DATE,
a.CUST_SEA,a.CUST_SEA_GEO,a.CUST_SAM,a.TOP_CUST_NAME,a.CUST_G50,a.MISSING_FLAG,a.CUST_G100,a.SYS_ASP,a.SALES_DISTRICT,
a.CUST_NAGP_OLD,a.CUST_NAME_OLD,a.SYS_FAMILY,a.SYS_TOPFAMILY,a.SYS_FAMILYNAME,a.SYS_PLATFORM_RANGE,a.SYS_TYPE,
a.CUST_G100_OLD,  case when (a.cust_name is null) then 0 else 1 end as cust_name_flg 
from test_nb_db.IB_MASTER_RAW a 
'''

que = 'CREATE database test_nb_db'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS test_nb_db.IB_MASTER_RAW  (SYS_SERIAL_NO  int, IOBJECTID_SAP int, SYSTEMID_SAP int, HOSTNAME_SAP string, SYS_PRODID_SAP string, SYS_VERSION string, SYS_SHIPDATE_SAP DATE, FIRST_ASUP_DAY date, LAST_ASUP_DAY date, CUSTOMERID_SAP string, SITEID_SAP string, CUST_ACCTYPE_SAP string, CUST_NAME_SAP string, CUST_NAGP string, CUST_NAME string, CUST_SITENAME_SAP string, CUST_DESCR_SAP string, SYS_STATUS_SAP string, SYS_ASUPSTATUS_SAP string, MKT_CLASSIF_SAP string, MKT_SEGMENT_SAP string, NA_CMAT_ID_SAP string, PARENTID_SAP string, AUTHORIZATIONGRP_SAP string, ETL_DATE date, SYS_MODEL string, SYSTEM_NAME string, SYS_MODE string, SALES_ORDER_NUMBER string, SALES_CHANNEL_TYPE string, SHIPPED_DATE date, INSTALLED_DATE date, MANUAL_INSTALLED_DATE_FLAG date, LAST_ASUP_DATE date, ASUP_STATUS date, CUST_E1000 int, CUST_SITE string, CUST_CITY string, CUST_STATE string, CUST_COUNTRY string, CUST_ACC_CLASSIFICATION string, INSTALLED_BASE_GROUP string, INSTALLED_PROD_STATUS string, SERIAL_NO_OWNER_NAGP string, SERIAL_NO_OWNER_NAME string, TGA_FLAG string, HA_PAIR_FLAG string, CUST_RESELLER_PARTY_NAME string, CUST_ASP_NAME string, CUST_SP_NAME string, CUST_TPM_NAME string, CUST_SALES_GEO string, CUST_SERVICE_GEO string, CUST_SERVICE_AREA string, SYS_NETAPP string, SYS_NAME string, ID1 string, SERVICE_LEVEL string,  SYS_START_DATE string, SYS_END_DATE string, CUST_SEA string, CUST_SEA_GEO string, CUST_SAM string, TOP_CUST_NAME string, CUST_G50 string, MISSING_FLAG string, CUST_G100 string, SYS_ASP string, SALES_DISTRICT string, CUST_NAGP_OLD string, CUST_NAME_OLD string, SYS_FAMILY string, SYS_TOPFAMILY string, SYS_FAMILYNAME string, SYS_PLATFORM_RANGE string, SYS_TYPE string, CUST_G100_OLD  string)'
conn.execute(que, async=False)

In [17]:
'''insert into UBS_SHELF_ASUPS_SD 
SELECT hc.* FROM default.hdfs_latest_calmonth hc,UBS_SHELF_ASUPS_1 b
where hc.dt = '2156-10-17'
and get_json_object(value, "$.fields.asupId")=b.asup_id''' 

que = 'CREATE table IF NOT EXISTS UBS_SHELF_ASUPS_SD (dt date, asup_id string)'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS default.hdfs_latest_calmonth (dt date, asup_id string)'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS UBS_SHELF_ASUPS_1 (dt date, asup_id string)'
conn.execute(que, async=False)

In [29]:
'''
insert into asuprep.summary_attributes
select a.asup_id,
oid,
path,
attr,
name,
value,
index,
tableid,
tablename,
dt from asuprep.summary_attributes_temp a
where a.asup_id not in (select distinct asup_id from asuprep.summary_attributes)
'''


que = 'CREATE database asuprep'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS asuprep.summary_attributes (asup_id string, oid string, path string, attr string, name string, value string, index string, tableid string, tablename string, dt date)'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS asuprep.summary_attributes_temp (asup_id string, oid string, path string, attr string, name string, value string, index string, tableid string, tablename string, dt date)'
conn.execute(que, async=False)

In [121]:
'''
create table OntapAdoptionDevice as
select a.* from default.device a,(
select split(asup_key,'\\|')[3] serial,max(asup_id) asup_id 
from default.device where dt>='20180601' and dt<='20180802'
group by split(asup_key,'\\|')[3]) b
where a.asup_id=b.asup_id 
'''

'''
create table OntapAdoptionDevice_final as
select split(asup_key,'\\|')[3] serial,dvc_disk_type,count(distinct dvc_serial_no),SUM(dvc_phy_size_mb)
from OntapAdoptionDevice where dvc_type IN ('DISK','LUN') and dvc_label<>'PARTNER'
group by split(asup_key,'\\|')[3] ,dvc_disk_type 
'''

que = 'drop table default.device'
#conn.execute(que, async=False)

que = 'drop table OntapAdoptionDevice'
conn.execute(que, async=False)


que = 'CREATE table IF NOT EXISTS default.device (asup_key string, asup_id string, dt date, dvc_disk_type string, dvc_serial_no string, dvc_phy_size_mb string, dvc_type string, dvc_label string)'
#conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS OntapAdoptionDevice (asup_key string, asup_id string, dt date, dvc_disk_type string, dvc_serial_no string, dvc_phy_size_mb string, dvc_type string, dvc_label string)'
#conn.execute(que, async=False)

In [153]:
'''
Insert into application_record_ocum 
select a.asup_id, 
  get_json_object(value,'$.id') as id, 
  get_json_object(value,'$.url') as url, 
  get_json_object(value,'$.version') as version, 
  get_json_object(value,'$.date_added') as date_added, 
  get_json_object(value,'$.platform') as platform, 
  get_json_object(value,'$.hostFQDN') as hostFQDN, 
  get_json_object(value,'$.lastCheckin') as lastCheckin,
  get_json_object(value,'$.modified_from') as modified_from
from smfdbv2.application_record a join (select max(asup_id) asup_id from application_record_ocum) b
where UPPER(name) like '%UNIFIED%'
and a.asup_id > b.asup_id 
'''

que = 'CREATE database smfdbv2'
#conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS smfdbv2.application_record (value string, asup_id string, dt date, name string)'
#conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS application_record_ocum (id string, url string, version string, date_added date, platform string, hostFQDN string, lastCheckin date, modified_from string, asup_id string)'
#conn.execute(que, async=False)

In [44]:
'''
create table ocum_ontap as
	select arc.asup_id as ontap_asup_id,
		   a.asup_gen_date,
		   arc.id as ocum_system_uuid, 
		   arc.url as ocum_url, 
		   arc.version as ocum_version, 
		   arc.date_added as ocum_date_added, 
		   arc.platform as ocum_platform, 
		   arc.hostFQDN as ocum_hostFQDN, 
		   arc.lastCheckin as ocum_lastCheckin, 
		   arc.modified_from as modified_from,
		   ct.cluster_name,
		   ct.cluster_identifier as cluster_uuid,
		   sc.serial_number as node_serial_number,
		   sc.system_id as ontap_system_id,
		   sc.partner_system_id as ontap_partner_system_id,
		   sc.Hostname as ontap_hostname,
		   sc.sys_model,
		   sc.sys_version,
		   sc.sys_operating_mode,
		   sc.customer_id,
		   sc.customer_name,
		   sc.site_name,
		   sc.service_geo,
		   sc.site_country_name as site_city,
		   sc.site_country,
		   sc.internal_netapp_flag,
		   sc.ha_configured,
		   sc.is_aff_ct,
		   sc.is_mcc_ct
	from asuprep.application_record_ocum arc
	join (select distinct * from default.cluster_table) ct on arc.asup_id = ct.asup_id
	join (select distinct * from default.asup) a on arc.asup_id = a.asup_id
	join
	(
	  select sy.asup_id,
			 sy.system_id,
			 sy.partner_system_id,
			 sy.Hostname,
			 sy.sys_model,
			 sy.sys_version,
			 sy.sys_operating_mode,
			 cib.customer_id,
			 cib.customer_name,
			 cib.site_name,
			 cib.serial_number,
			 cib.service_geo,
			 cib.site_country_name,
			 cib.site_country,
			 case when ((cib.Customer_Name not like '%NETAPP%' and cib.Customer_Name not like '%NTAP%' and cib.Customer_Name not like '%Network Appliance%' 
						 and cib.Customer_Name not like '%NetworkAppliance%' AND cib.Customer_Name not like '%NetApp%' and cib.Customer_Name not like '%Ntap%' 
						 and cib.Customer_Name not like '%Netapp%') and sy.Sys_Model <> ' SIMBOX' ) 
				  then 'N'
				  else 'Y' 
			 end as internal_netapp_flag,
			 case when ( sy.additional_fields['is_mcc'] is null) 
				  then 'False'
				  else sy.additional_fields['is_mcc']
			 end is_mcc_ct,
			 case when ( sy.additional_fields['is_all_flash_optimized'] is null) 
				  then 'False'
				  else sy.additional_fields['is_all_flash_optimized']
			 end is_aff_ct,
			 case when ( sy.additional_fields['ha_mode'] is null) 
				  then 'False'
				  else sy.additional_fields['ha_mode']
			 end ha_configured
	  from (select distinct * from default.system) as sy 
	  join default.customerib as cib on  sy.sys_serial_no=cib.serial_number 
	) sc on arc.asup_id = sc.asup_id 
'''



que = 'CREATE table IF NOT EXISTS asuprep.application_record_ocum (id string, url string, version string, date_added date, platform string, hostFQDN string, lastCheckin date, modified_from string, asup_id string)'
conn.execute(que, async=False)



que = 'CREATE table IF NOT EXISTS default.system (asup_subject string, sys_serial_no string, asup_id string, system_id string, partner_system_id string,Hostname string,sys_model string,sys_version string,sys_operating_mode string, additional_fields  map<string,string>)'
conn.execute(que, async=False)

que = 'INSERT INTO TABLE default.cluster_table VALUES ("1", "1111", "1111")'
conn.execute(que, async=False)

In [83]:
'''
create table ontapadoptionsystem as
select a.asup_id asup_id,s.additional_fields["is_all_flash_optimized"] Aff 
from default.asup a, default.system s where a.asup_id=s.asup_id and a.asup_type='DOT-REGULAR' 
and a.dt>='20180601' and a.dt<='20180802' and
s.dt>='20180601' and s.dt<='20180802'
'''


que = 'drop table default.asup'
conn.execute(que, async=False)


que = 'CREATE table IF NOT EXISTS default.asup (asup_id string, asup_gen_date date, dt date, additional_fields  map<string,string>)'
conn.execute(que, async=False)

In [115]:
'''create table ontapadoptionprotocol as
select split(asup_key,'\\|')[3] serial,max(tags["cifsOps"]) CIFS_OPS,
max(tags["httpOps"]) HTTP_OPS,max(tags["nfsOps"]) NFS_OPS,
max(tags["fcpOps"]) FCP_OPS,
max(tags["iscsiOps"]) ISCSI_OPS
from default.ems a,(
select split(asup_key,'\\|')[3] serial,max(tags["asup_id"]) asup_id
from default.ems where dt>='2018-06-01' and dt<='2018-08-02' 
and event_type='kern_uptime_filer_1' and (tags["cifsOps"] <>0 or tags["cifsOps"] IS NOT NULL or tags["fcpOps"] <>0 or tags["fcpOps"] IS NOT NULL or tags["nfsOps"] <>0 or tags["nfsOps"] IS NOT NULL 
    or tags["iscsiOps"] <>0 or tags["iscsiOps"] IS NOT NULL or tags["httpOps"] <>0 or tags["httpOps"] IS NOT NULL)
group by split(asup_key,'\\|')[3]) b
where a.tags["asup_id"]=b.asup_id
and a.dt>='2018-06-01' and a.dt<='2018-08-02'
group by split(asup_key,'\\|')[3] '''

que = 'drop table ems'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS ems (asup_key string, asup_id string, tags map<string, string>, event_type string, dt date)'
conn.execute(que, async=False)

In [151]:
'''insert into asuprep.ILM_XML
select a.,
from asuprep.ILM_XML_TEMP a where a.asup_id not in (select distinct asup_id from asuprep.ILM_XML) 
'''

que = 'drop table asuprep.ILM_XML'
#conn.execute(que, async=False)

que = 'drop table asuprep.ILM_XML_TEMP'
#conn.execute(que, async=False)


que = 'CREATE table IF NOT EXISTS asuprep.ILM_XML (asup_id string, attr string,name string,value string,dt date)'
conn.execute(que, async=False)

que = 'CREATE table IF NOT EXISTS asuprep.ILM_XML_TEMP (asup_id string, attr string,name string,value string,dt date)'
conn.execute(que, async=False)

In [159]:
'''create table AFF_VOLUME as
select a.asup_id,sys_serial_no,sys_version,aggr_id,vol_name,vol_state_asis,vol_compressed_kb,
a.additional_fields["vol_space_guarantee"] guarantee,
a.additional_fields["vol_is_vsroot"] vol_is_vsroot,
vol_is_root,vol_is_online,a.vol_asis_saved_kb,a.vol_asis_saved_pct,a.vol_compressed_pct,
c.aggr_used_kb+c.aggr_sused_kb Aggregate_Used_KB, vol_allocated_kb Vol_size
from default.volume a,default.system b ,default.aggregate c
where a.asup_id=b.asup_id
and b.asup_id=c.asup_id
and a.aggr_id=c.aggr_name
and a.dt>=regexp_replace(date_add(from_unixtime(unix_timestamp()),-29),'-','')
and b.dt>=regexp_replace(date_add(from_unixtime(unix_timestamp()),-29),'-','')
and c.dt>=regexp_replace(date_add(from_unixtime(unix_timestamp()),-29),'-','')
and b.additional_fields["is_all_flash_optimized"]='true' '''

In [161]:
'''create table AFF_VOLUME as
select (asup_id string,sys_serial_no string,sys_version string,aggr_id string,vol_name string, vol_state_asis string, vol_compressed_kb int, guarantee  string, vol_is_vsroot  string, vol_is_root string,vol_is_online string,vol_asis_saved_kb int, vol_asis_saved_pct int, vol_compressed_pct int, Aggregate_Used_KB int, Vol_size int) '''

'''create table AFF_VOLUME_1 as
select a.*
from AFF_VOLUME a,(select sys_serial_no,max(asup_id) asup_id from AFF_VOLUME group by sys_serial_no) b 
where a.asup_id=b.asup_id '''

que = 'CREATE table IF NOT EXISTS AFF_VOLUME (sys_serial_no string, asup_id string)'
conn.execute(que, async=False)