In [51]:
import pandas as pd
import numpy as np
import time
import datetime
import calendar

dataset_path = '/local0/wlmod/Snowflake/data/snowset-main.csv'

In [62]:
df = pd.read_csv(dataset_path, nrows=5000000)
d = datetime.datetime(2018,2,21,0,0,0,0)
time_origin = calendar.timegm(d.timetuple())
#time_origin = time.mktime(datetime.strptime('2018-03-02 12:00:00.000', '%Y-%m-%d %H:%M:%S.%f').timetuple())
df['createdTimeTs'] = pd.to_datetime(df['createdTime']).astype(int) / (10 ** 9) - time_origin
print(time_origin, df['createdTimeTs'].min())
df[['createdTimeTs' ,'createdTime']]

1519171200 72000.83500003815

         createdTimeTs                       createdTime
0           830642.768  2018-03-02 14:44:02.768000+00:00
1           831630.178  2018-03-02 15:00:30.178000+00:00
2           825242.842  2018-03-02 13:14:02.842000+00:00
3           825035.889  2018-03-02 13:10:35.889000+00:00
4           831615.694  2018-03-02 15:00:15.694000+00:00
5           831611.461  2018-03-02 15:00:11.461000+00:00
6           830650.148  2018-03-02 14:44:10.148000+00:00
7           830693.115  2018-03-02 14:44:53.115000+00:00
8           830684.786  2018-03-02 14:44:44.786000+00:00
9           825299.100  2018-03-02 13:14:59.100000+00:00
10          831720.899  2018-03-02 15:02:00.899000+00:00
11          825291.691  2018-03-02 13:14:51.691000+00:00
12          826877.488  2018-03-02 13:41:17.488000+00:00
13          831731.220  2018-03-02 15:02:11.220000+00:00
14          830814.391  2018-03-02 14:46:54.391000+00:00
15          830752.917  2018-03-02 14:45:52.917000+00:00
16          826426.254  2018-03-02 13:33:46.254000+00:00
17          825031.948  2018-03-02 13:10:31.948000+00:00
18          831246.869  2018-03-02 14:54:06.869000+00:00
19          825768.415  2018-03-02 13:22:48.415000+00:00
20          831242.776  2018-03-02 14:54:02.776000+00:00
21          830407.984  2018-03-02 14:40:07.984000+00:00
22          825871.498  2018-03-02 13:24:31.498000+00:00
23          830416.590  2018-03-02 14:40:16.590000+00:00
24          830436.293  2018-03-02 14:40:36.293000+00:00
25          826492.873  2018-03-02 13:34:52.873000+00:00
26          825025.552  2018-03-02 13:10:25.552000+00:00
27          830475.378  2018-03-02 14:41:15.378000+00:00
28          825141.856  2018-03-02 13:12:21.856000+00:00
29          830475.708  2018-03-02 14:41:15.708000+00:00
...                ...                               ...
4999970     187225.343  2018-02-23 04:00:25.343000+00:00
4999971     656537.811  2018-02-28 14:22:17.811000+00:00
4999972     601681.808  2018-02-27 23:08:01.808000+00:00
4999973     656397.627  2018-02-28 14:19:57.627000+00:00
4999974     118846.696  2018-02-22 09:00:46.696000+00:00
4999975     276908.897  2018-02-24 04:55:08.897000+00:00
4999976     657926.617  2018-02-28 14:45:26.617000+00:00
4999977     601578.482  2018-02-27 23:06:18.482000+00:00
4999978     642636.361  2018-02-28 10:30:36.361000+00:00
4999979     629462.443  2018-02-28 06:51:02.443000+00:00
4999980     570197.545  2018-02-27 14:23:17.545000+00:00
4999981     629382.199  2018-02-28 06:49:42.199000+00:00
4999982     221267.188  2018-02-23 13:27:47.188000+00:00
4999983     570232.293  2018-02-27 14:23:52.293000+00:00
4999984     293456.195  2018-02-24 09:30:56.195000+00:00
4999985     629695.782  2018-02-28 06:54:55.782000+00:00
4999986     303652.521  2018-02-24 12:20:52.521000+00:00
4999987     293465.650  2018-02-24 09:31:05.650000+00:00
4999988     355335.932  2018-02-25 02:42:15.932000+00:00
4999989     476587.639  2018-02-26 12:23:07.639000+00:00
4999990      95490.743  2018-02-22 02:31:30.743000+00:00
4999991     308526.467  2018-02-24 13:42:06.467000+00:00
4999992     121738.446  2018-02-22 09:48:58.446000+00:00
4999993     357492.246  2018-02-25 03:18:12.246000+00:00
4999994     600194.834  2018-02-27 22:43:14.834000+00:00
4999995     475315.832  2018-02-26 12:01:55.832000+00:00
4999996     119141.377  2018-02-22 09:05:41.377000+00:00
4999997     406610.217  2018-02-25 16:56:50.217000+00:00
4999998     406527.326  2018-02-25 16:55:27.326000+00:00
4999999     396080.860  2018-02-25 14:01:20.860000+00:00

[5000000 rows x 2 columns]

In [20]:
from datetime import datetime
time_origin.timestamp()

1520010000.0

In [70]:
from dateutil import parser

with open(dataset_path, 'r') as fd:
    for index, line in enumerate(fd):
        if index == 0: continue
        date = parser.parse(line.split(',')[3]).date()
        print(date)
        
        if index == 5:
            break

2018-03-02 14:44:02.768000+00:00
2018-03-02 15:00:30.178000+00:00
2018-03-02 13:14:02.842000+00:00
2018-03-02 13:10:35.889000+00:00
2018-03-02 15:00:15.694000+00:00